@font-face {
    font-family: LobsterRegular;
    src: url('../fonts/Lobster-Regular.ttf') format("truetype");
    src: url('../fonts/Lobster-Regular.ttf') format("embedded-opentype");
    src: url('../fonts/Lobster-Regular.ttf') format("woff");
    src: url('../fonts/Lobster-Regular.ttf');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: MarckScriptRegular;
    src: url('../fonts/MarckScript-Regular.ttf') format("truetype");
    src: url('../fonts/MarckScript-Regular.ttf') format("embedded-opentype");
    src: url('../fonts/MarckScript-Regular.ttf') format("woff");
    src: url('../fonts/MarckScript-Regular.ttf');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: PacificoRegular;
    src: url('../fonts/Pacifico-Regular.ttf') format("truetype");
    src: url('../fonts/Pacifico-Regular.ttf') format("embedded-opentype");
    src: url('../fonts/Pacifico-Regular.ttf') format("woff");
    src: url('../fonts/Pacifico-Regular.ttf');
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: RubikRegular;
    src: url('../fonts/Rubik-Regular.ttf') format("truetype");
    src: url('../fonts/Rubik-Regular.ttf')format("embedded-opentype");
    src: url('../fonts/Rubik-Regular.ttf') format("woff");
    src: url('../fonts/Rubik-Regular.ttf');
    font-style: normal;
    font-weight: normal
}


/*----общие---*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: LobsterRegular, MarckScriptRegular, PacificoRegular, sans-serif;*/
}

html,
body {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: LobsterRegular, MarckScriptRegular, PacificoRegular, RubikRegular, sans-serif;
}

main {
    width: 100%;
    height: 90%;
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
}

.all_class_not_active {
    display: none;
}

.all_class_active_block {
    display: block;
}


/*-------прелоадер-------*/

.preloader_wrapper {
    z-index: 80;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(238, 255, 0);
}

.front,
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden;*/
    position: absolute;
    transition: 1s;
    transform-origin: left;
    perspective: 1000px;
    perspective-origin: left;
}

.front {
    /*border: 1px solid rgb(117, 3, 109);*/
    background-color: rgb(66, 0, 67);
}

.back {
    background-color: rgb(0, 101, 101);
    transform: rotateY(180deg);
    /* border: 1px solid rgb(61, 194, 9);*/
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}


/*------HEADER-----------*/

header {
    /*position: absolute;*/
    z-index: 10;
    /*top: 2%;
    left: 0;*/
    width: 100%;
    height: 10%;
    padding: 0% 3%;
    display: flex;
    color: white;
    font-size: 200%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url("../img/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn_standart_page:hover,
.call_header_form:hover {
    color: #E2C68E;
}

.btn_standart_page:active,
.call_header_form:active {
    color: #885A34;
}

.header-logo {
    z-index: 11;
    position: absolute;
    top: -2%;
    left: 35%;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/tablet_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*border: 2px solid red;*/
}

.header_logo_label {
    width: 70%;
    height: 45%;
    margin-top: 5%;
}

.header_logo_label:hover {
    filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
}


/*-----MAIN--блок контент---*/

.bg_room {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg_room_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*создаем огонь d rfvbytогонь в камине*/

.fire {
    width: 9.6%;
    height: 9%;
    position: absolute;
    left: 45.8%;
    top: 57%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.fire_img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


/*шкафы*/

.closet_right {
    position: absolute;
    display: block;
    width: 32%;
    height: 77%;
    top: 0;
    right: 0%;
}

.closet_left {
    position: absolute;
    display: block;
    width: 32%;
    height: 77%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.closet_left:hover,
.closet_right:hover {
    box-shadow: 0px 5px 50px -6px rgb(255, 91, 3);
    transition: 1s;
}

.closet_right_img,
.closet_left_img {
    width: 100%;
    height: 100%;
}


/*записка на шкафу*/

.note {
    cursor: pointer;
    width: 4%;
    height: 6%;
    display: flex;
    position: absolute;
    top: 28%;
    align-items: center;
    justify-content: center;
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.note_left {
    left: 28%;
}

.note_right {
    right: 28%;
}

.note_text {
    color: black;
    font-size: 130%;
    text-align: center;
}


/*открываем шкаф*/

.open_closet_wrapper {
    display: block;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.open_closet_bg {
    box-sizing: border-box;
    width: 50%;
    height: 98%;
    margin: 0.5% auto;
    background-image: url("../img/closet_open_2.png");
    background-size: 100% 100%;
}


/*боковина шкафа*/

.open_closet_bg_right {
    z-index: 51;
    box-sizing: border-box;
    width: 7.5%;
    height: 98%;
    position: absolute;
    top: 1.5%;
    left: 67.5%;
    background-image: url("../img/closet_open_2_right.png");
    background-size: 100% 100%;
    /* border: 1px solid red*/
}


/*---*/

.exit_btn {
    position: absolute;
    right: 10%;
    top: 10.5%;
    width: max-content;
    height: max-content;
    padding: 0.2% 2%;
    font-size: 170%;
    font-family: LobsterRegular, MarckScriptRegular, PacificoRegular, sans-serif;
    background-color: rgba(58, 58, 58, 0.248);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.exit_btn:hover {
    color: rgb(162, 15, 15);
    border: 1px solid rgb(162, 15, 15);
}

.tablet {
    width: max-content;
    height: max-content;
    padding: 0.2% 2%;
    position: absolute;
    left: 46.5%;
    background-image: url("../img/tablet.png");
    background-size: 100% 100%;
    color: black;
    text-align: center;
    font-size: 120%;
}

.tablet_1 {
    top: 10.5%;
}

.tablet_2 {
    top: 32%;
}

.tablet_3 {
    top: 53%;
}

.tablet_4 {
    top: 73.5%;
}


/* кресла*/

.chair_right {
    position: absolute;
    display: block;
    width: 24%;
    height: 43%;
    bottom: 9%;
    right: 10%;
}

.chair_left {
    position: absolute;
    display: block;
    width: 24%;
    height: 43%;
    bottom: 10%;
    left: 13%;
}

.chair_right_img,
.chair_left_img {
    width: 100%;
    height: 100%;
}


/*стол*/

.table {
    position: absolute;
    display: block;
    width: 28%;
    height: 29%;
    bottom: 4%;
    right: 34.5%;
}

.table_img {
    width: 100%;
    height: 100%;
}


/*лицевая часть камина перед огнем*/

.fireplace {
    width: 13.2%;
    height: 8.7%;
    position: absolute;
    left: 43.8%;
    top: 61%;
}

.fireplace_img {
    width: 100%;
    height: 100%;
}


/*тени стульев и стола*/

.chair_shadow_1 {
    width: 36.3%;
    height: 20%;
    position: absolute;
    left: 0%;
    bottom: 0;
    animation: move 10s infinite linear;
}

.chair_shadow_2 {
    width: 34.3%;
    height: 18%;
    position: absolute;
    right: 0%;
    bottom: 0;
    animation: move 10s infinite linear;
}

@keyframes move {
    0% {
        transform: skewX(0deg);
        transform-origin: top;
    }
    25% {
        transform: skewX(5deg);
        transform-origin: top;
    }
    50% {
        transform: skewX(0deg);
        transform-origin: top;
    }
    75% {
        transform: skewX(-5deg);
        transform-origin: top;
    }
    100% {
        transform: skewX(0deg);
        transform-origin: top;
    }
}

.chair_shadow_img,
.tabel_shadow_img,
.book_img {
    width: 100%;
    height: 100%;
}

.tabel_shadow {
    width: 34.3%;
    height: 18%;
    position: absolute;
    right: 32%;
    bottom: 0;
    animation: move2 10s infinite linear;
}

@keyframes move2 {
    0% {
        transform: skewX(0deg);
        transform-origin: top;
    }
    25% {
        transform: skewX(2.5deg);
        transform-origin: top;
    }
    50% {
        transform: skewX(0deg);
        transform-origin: top;
    }
    75% {
        transform: skewX(-2.5deg);
        transform-origin: top;
    }
    100% {
        transform: skewX(0deg);
        transform-origin: top;
    }
}


/*картины*/

.painting {
    width: 11%;
    height: 15%;
    position: absolute;
    top: 18%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.painting_1 {
    background-image: url("../img/painting_1.jpg");
    left: 36%;
    box-shadow: -12px -8px 40px rgb(0, 0, 0);
}

.painting_2 {
    background-image: url("../img/painting_2.jpg");
    right: 36%;
    box-shadow: 12px -8px 40px rgb(0, 0, 0);
}


/*карта*/

.map {
    width: 10%;
    height: 11%;
    position: absolute;
    top: 33.5%;
    right: 40%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/map.jpg");
    transform: rotateX(30deg);
    box-shadow: 10px -5px 30px rgba(0, 0, 0, 0.752);
    filter: brightness(70%);
}


/*статуэтка*/

.statuette {
    width: 3.5%;
    height: 9%;
    position: absolute;
    top: 35%;
    right: 36%;
    background-image: url("../img/statuette.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*корабль*/

.vessel {
    width: 10%;
    height: 12%;
    position: absolute;
    top: 32%;
    left: 36%;
    background-image: url("../img/vessel.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*новая книга на кресле и обложка*/

.new_book_label {
    position: absolute;
    display: block;
    width: max-content;
    height: max-content;
    color: white;
    text-align: center;
    font-size: 150%;
    top: 51%;
    right: 24%;
    text-shadow: -0 -3px 0 #000000, 0 -3px 0 #000000, -0 3px 0 #000000, 0 3px 0 #000000, -3px -0 0 #000000, 3px -0 0 #000000, -3px 0 0 #000000, 3px 0 0 #000000, -1px -3px 0 #000000, 1px -3px 0 #000000, -1px 3px 0 #000000, 1px 3px 0 #000000, -3px -1px 0 #000000, 3px -1px 0 #000000, -3px 1px 0 #000000, 3px 1px 0 #000000, -2px -3px 0 #000000, 2px -3px 0 #000000, -2px 3px 0 #000000, 2px 3px 0 #000000, -3px -2px 0 #000000, 3px -2px 0 #000000, -3px 2px 0 #000000, 3px 2px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}


/**/

.book_new {
    z-index: 100;
    box-sizing: border-box;
    width: 8%;
    height: 10%;
    display: flex;
    position: absolute;
    top: 58%;
    right: 21%;
    margin-left: 0px;
    margin-top: 0px;
    transition: 1.5s;
    background-size: 50% 100%;
    transform: rotateY(65deg) rotateX(10deg);
    box-shadow: 5px 20px 30px 10px rgb(30, 30, 30);
    /*border: 1px solid red;*/
}

.btn_book_spine_new {
    position: absolute;
    left: 0%;
    padding: 0 5%;
    width: 90%;
    height: 100%;
    background-image: url("../pages/book_new/spin_2_mini.png");
    background-size: 100% 100%;
    transition: 1.7s;
}

.btn_book_cover_new {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 99.2%;
    left: 10%;
    bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.854);
    border-radius: 2px;
    /*transform: rotateY(-40deg);*/
    background-image: url("../pages/book_new/my_woman_2_mini.jpg");
    background-size: 100% 100%;
    box-shadow: -25px 5px 60px 20px rgba(0, 0, 0, 0.823) inset !important;
    transition: 2s;
}


/**/

.book_new:hover {
    box-shadow: 5px 10px 50px -5px rgb(255, 91, 3);
}

.book_new_focus {
    width: 590px;
    height: 782px;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -445px;
    transition: 2s;
    background-size: 50% 100%;
    transform: rotateY(0deg) rotateX(0deg);
    box-shadow: unset !important;
}

.book_new_focus .btn_book_spine_new {
    transform: rotateY(90deg);
    transition: 2s;
    left: -10%;
}

.book_new_focus .btn_book_cover_new {
    left: 0%;
    transition: 2s;
    width: 85%;
    box-shadow: 5px 5px 10px 5px black
}


/*лист бумаги на столе и контакты на нем*/

.contacts_label {
    position: absolute;
    display: block;
    width: max-content;
    height: max-content;
    color: white;
    text-align: center;
    font-size: 150%;
    left: 43.5%;
    top: 66.5%;
    text-shadow: -0 -3px 0 #000000, 0 -3px 0 #000000, -0 3px 0 #000000, 0 3px 0 #000000, -3px -0 0 #000000, 3px -0 0 #000000, -3px 0 0 #000000, 3px 0 0 #000000, -1px -3px 0 #000000, 1px -3px 0 #000000, -1px 3px 0 #000000, 1px 3px 0 #000000, -3px -1px 0 #000000, 3px -1px 0 #000000, -3px 1px 0 #000000, 3px 1px 0 #000000, -2px -3px 0 #000000, 2px -3px 0 #000000, -2px 3px 0 #000000, 2px 3px 0 #000000, -3px -2px 0 #000000, 3px -2px 0 #000000, -3px 2px 0 #000000, 3px 2px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}

.paper {
    z-index: 5;
    display: block;
    padding: 0;
    width: 5%;
    height: 12%;
    position: absolute;
    left: 43.5%;
    top: 65%;
    cursor: pointer;
    transition: 1.5s;
    transform: rotateX(80deg) rotateZ(14deg);
    /* matrix(0.8, 0, -1, 0.5, 0, 0);*/
    box-shadow: 0 0 5px rgba(254, 254, 146, 0.545);
}

.paper:hover {
    box-shadow: 0px 10px 50px 6px rgb(255, 91, 3);
}

.paper_img {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.paper_contacts {
    display: none;
    z-index: 5;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    color: black;
}

.paper_active {
    z-index: 200;
    position: relative;
    width: 40%;
    height: 90%;
    left: 30%;
    top: 0;
    transition: 1.5s;
    transform: unset;
    box-shadow: unset !important;
}

.paper_active:hover {
    box-shadow: unset !important;
}

.paper_active::after {
    content: "X";
    width: max-content;
    height: max-content;
    color: red;
    cursor: pointer;
    font-size: 300%;
    position: absolute;
    right: 8%;
    top: 8%;
}

.paper_contacts_active {
    display: flex;
}


/*письмо на столе*/

.envelope_label {
    position: absolute;
    display: block;
    width: max-content;
    height: max-content;
    color: white;
    text-align: center;
    font-size: 150%;
    right: 38%;
    top: 66.5%;
    text-shadow: -0 -3px 0 #000000, 0 -3px 0 #000000, -0 3px 0 #000000, 0 3px 0 #000000, -3px -0 0 #000000, 3px -0 0 #000000, -3px 0 0 #000000, 3px 0 0 #000000, -1px -3px 0 #000000, 1px -3px 0 #000000, -1px 3px 0 #000000, 1px 3px 0 #000000, -3px -1px 0 #000000, 3px -1px 0 #000000, -3px 1px 0 #000000, 3px 1px 0 #000000, -2px -3px 0 #000000, 2px -3px 0 #000000, -2px 3px 0 #000000, 2px 3px 0 #000000, -3px -2px 0 #000000, 3px -2px 0 #000000, -3px 2px 0 #000000, 3px 2px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000, -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}

.envelope_room_table {
    position: absolute;
    display: block;
    top: 63.5%;
    right: 40%;
    width: 5%;
    height: 15%;
    transform: rotateX(82deg) rotateZ(-15deg);
    transition: 1.5s;
    background-image: url('../img/envelope_table_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 70px 70px red*/
}

.envelope_room_table:hover {
    box-shadow: 0px 10px 50px 6px rgb(255, 91, 3);
}

.envelope_room_table_open {
    z-index: 200;
    top: unset;
    bottom: 1.5%;
    right: 25%;
    width: 50%;
    height: 65%;
    box-shadow: unset !important;
    transform: rotateX(0deg) rotateZ(0deg);
}

.envelope_room_table_open:hover {
    box-shadow: unset !important;
}


/*-----------------------------------------*/


/*конверт*/

.envelope_wrapper {
    display: none;
    z-index: 300;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.envelope_wrapper_open {
    transition: 1.5s;
    display: flex;
}

.envelope {
    position: relative;
    top: 19%;
    width: 50%;
    height: 58%;
}

.envelope img {
    width: 100%;
    height: 100%;
}

.envelope_body_back {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 99.7%;
    height: 97%;
    filter: brightness(70%);
}

.envelope_top {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
    transform-origin: bottom;
    transform: translateY(-99%);
    filter: brightness(70%);
}

.envelope_top_close {
    transform: translateY(-102%) rotateX(180deg);
    z-index: 4;
    filter: brightness(100%);
}

.envelope_paper {
    z-index: 2;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(97%);
    transition: 0.5s;
    transform: translateY(-63%);
}

.envelope_paper_close {
    transform: translateY(0%);
}

.envelope_body {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(98%);
}

.envelope_print {
    z-index: 5;
    opacity: 0;
    display: block;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 41%;
    transition: 1.5s;
    background-image: url('../img/print_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.envelope_print_close {
    opacity: 1;
}


/*форма в письме*/

.envelope_form_wrapper {
    width: 100%;
    height: 100%;
    padding: 3%;
    font-size: 150%;
    text-align: center;
}


/*test*/