@media(max-height:800px){
    /*обложка*/

    .cover_wrapper {
        
        width: 780px !important;
        height: 582px;
        padding: 5px;
       
        top: 2%;
        left: 240px;}
        


.cover_card {
      
        width: 390px;
        height: 582px;
        top: 0%;
        right: 0%;
       
    }

    /*оформление открытой книги*/

.flipbook-viewport {
    z-index: 1;
    position:relative;
    top:0;
    left:0;
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    border: 2px solid blue;
}

.flipbook-viewport .container {
  
    width: 390px !important;
    height: 582px;
    padding: 5px;
       top: 2%;
    right: unset !important;
    left: 630px !important;
       margin: 0;
   
}



.flipbook-viewport .flipbook {
   
    width: 750px !important;
    height: 550px !important;
    right: 0 !important;
    left: unset !important;
    top: 10px;
    margin-right: 0px !important;
    margin-left: 10px !important;
   
}





.flipbook-viewport .page {
    width: 750px;
    height: 550px;
   
}



.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}



.flipbook-viewport .double {
    width: 750px;
    height: 550px;
    
    right:0%;
    
}

  
}
       
    
















