@media (max-width: 1255px) {
     :root {
        //шрифты
        --fsH2: 38px; //заголовки h2
    }
}

@media (max-width: 1024px) {
     :root {
        //шрифты
        --fsH2: 32px; //заголовки h2
        //--fsH4: 26px; //Заголовки h4
        --fsP: 20px; //текст и блоки P
        //---------------------------
        //контент общий
        --marginTopBtn: 50px; //внешний отступ кнопки верхний
        --btnSect2Wi: 250px; //кнопка  ширина
        --fs2sectTitle: 62px; //размер шрифта заголовка блока
    }
}

@media (max-width: 840px) {
     :root {
        //шрифты
        --fsH2: 28px; //заголовки h2
        //-----Общие
        --fs2sectTitle: 56px; //размер шрифта заголовка блока
    }
}

@media (max-width: 770px) {
     :root {
        //шрифты
        --fsH2: 26px; //заголовки h2
    }
}

@media (max-width: 630px) {
     :root {
        //шрифты
        --fsH2: 29px; //заголовки h2
        //---------------
        //----контент
        --contentWidh: 100%; //блок контента
    }
}

@media (max-width: 530px) {
     :root {
        //шрифты
        --fsH2: 30px; //заголовки h2
        --fsH3: 42px; //Заголовки h3
        --fsH4: 26px; //Заголовки h4
        --fsP: 18px; //текст и блоки P
        //------------------------------
        //-----Общие
        --fs2sectTitle: 52px; //размер шрифта заголовка блока
        --marginTopBtn: 40px; //внешний отступ кнопки  верхний
    }
}

@media (max-width: 495px) {
     :root {
        //шрифты
        --fsH2: 24px; //заголовки h2
        //контент общий
    }
}

@media (max-width: 375px) {
     :root {
        //шрифты
        --fsH2: 24px; //заголовки h2
        --fsH3: 38px; //Заголовки h3
        --fsH4: 22px; //Заголовки h4
        --fsP: 16px; //текст и блоки P
        //-------------------------------
        //контент общий
        --titleMarginBottom: 30px; //отступ нижний заголовка блока
        --fs2sectTitle: 42px; //размер шрифта заголовка блока
    }
}

@media (max-width: 320px) {
     :root {
        //шрифты
        --fsH2: 20px; //заголовки h2
        --fsH3: 28px; //Заголовки h3
        --fsH4: 19px; //Заголовки h4
        --fsH5: 18px; //Заголовки h5
        --fsP: 14px; //текст и блоки P
        //-------------------------------------
        //-----Общие
        --fs2sectTitle: 32px; //размер шрифта заголовка блока
        --btnSect2Wi: 180px; //кнопка  ширина
        --btnSect2He: 50px; //кнопка высота
    }
}

@media (max-width: 270px) {
     :root {
        //шрифты
        --fsH2: 18px; //заголовки h2
    }
}