//------------------------ПЕРЕМЕННЫЕ---------------------------------------------
//-цвета-
$blackColor: #000000;
$blackColorOpacity: #000000a4;
$darkGrayColor: #646464;
$grayColor: #808080;
$smokeColor: #cccccc;
$whiteColor: #ffffff;
//
$emeraldColor:#253229;
$emeraldDarkColor:#1D241F;
$DarkRedColor:#240E04;
$yellowBrownColor: #885A34;
$sandColor:#FFF3D2;
$skinColor:#E2C68E;
//
//----------
//-шрифты-
$fontFamily1: LobsterRegular,
MarckScriptRegular,
PacificoRegular,
sans-serif;
//-------------ПЕРЕМЕННЫЕ--изменяемые--pазмеры----------------------------------------
:root {
    //--------размеры шрифтов
    --fsMenuHeadBtn: 30px; //размер шрифта КНОПКИ МЕНЮ в хедер
    --fsMenuHead: 32px; //размер шрифта в хедер
    --fsH2: 56px; //заголовки h2
    --fsH3: 48px; //Заголовки h3
    --fsH4: 30px; //Заголовки h4
    --fsH5: 26px; //Заголовки h5
    --fsP: 22px; //текст и блоки P
    //----------------------------------------------------
    //----------------------------------------------------
    //----контент
    --contentWidh: 95%; //блок контента
    //----------------------------------------------------
    //----------------------------------------------------
    //-----хэдер
    --menuGapHead: 80px; //расстояние между пунктами меню в хедер
    --logoHedHe: 100px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //----------------------------------------------------
    //------1блок
    --bgWondowWi: 550px; //Ширина изображения окна
    --firstBlockPaddingTB: 70px; //внутренние отступы 1 секции сверху и снизу
    --firstBlockHe: 700px; //высота первого блока
    --emmalustWi: 53vw; //Ширина надписи Emma Lust
    --taglineTextWi: 74%; //Ширина текста слогана
    //----------------------------------------------------
    //----------------------------------------------------
    //------2блок
    --section2PaddingTB: 200px; //внутренние отступы 2 секции сверху и снизу
    --fs2sectTitle: 72px; //размер шрифта заголовка второй секции
    //текст
    --containerText2sectWi: 45%; // контейнера с текстом 2 секции ширина
    --marginTextCont2sect: 30px; //нижние отступы в текстовом блоке 2 секции
    --marginTopBtnSect2: 100px; //внешний отступ кнопки 2 секции верхний
    //книга
    --rigtBookShift: 50px; //отступ книги от правого края
    --containerBook2sectWi: 323px; // контейнера с книгой 2 секции и книги ширина
    --containerBook2sectHe: calc(var(--containerBook2sectWi)*1.51); //486px; контенера с книгой 2 секции и книги высота
    --coverBook2sectWi: calc(var(--containerBook2sectWi)*0.8669); //280px обложки книги 2 секции ширина
    --coverBook2sectHe: calc(var( --coverBook2sectWi)*1.7); //475px обложки книги 2 секции высота
    --btnSect2Wi: 300px; //кнопка второй секции ширина
    --btnSect2He: 50px; //кнопка второй секции высота
    //----------------------------------------------------
    //----------------------------------------------------
    //----5блок
    --botPadSect5: 235px; //нижний паддинг синей части 5 секции
    --galleryImgHe: 646px; //высота изображений в галерее
    --galleryImgWi: calc( var(--galleryImgHe) * 1.5); //Ширина изображений в галерее
    //----6блок
    --padTop6Block: 101px; //число для калькуляции верхнего отступа 6 блока формы из за смещения галлереи
}

//-----------------------------------------------миксины----------------------------------------------
//ширина и высота элемента
@mixin wiHe($wi: 100%, $he: 100%) {
    width: $wi;
    height: $he;
}

//позиционирование
@mixin leTo($top: 0, $left: 0) {
    top: $top;
    left: $left;
}

@mixin riTo($top: 0, $right: 0) {
    top: $top;
    right: $right;
}

@mixin riBo($bottom: 0, $right: 0) {
    bottom: $bottom;
    right: $right;
}

@mixin leBo($bottom: 0, $left: 0) {
    bottom: $bottom;
    left: $left;
}

//вставка изображения как фона(без ссылки на изображение)
@mixin bgImg( $bgImSize: 100% 100%, $bgPosition:center, $bgRepeat:no-repeat) {
    background-size: $bgImSize;
    background-position: $bgPosition;
    background-repeat: $bgRepeat;
}

//флекс элемент по центру
@mixin flCent($jusCon: center, $alIt: center) {
    display: flex;
    justify-content: $jusCon;
    align-items: $alIt;
}

//флекс элемент слева снизу
@mixin flStartCen($jusCon: start, $alIt: center) {
    display: flex;
    justify-content: $jusCon;
    align-items: $alIt;
}

//флекс элемент: по вертикали центр, горизонтально - разнесено по краям
@mixin flexSpBeCent($jusCon: space-between, $alIt: center) {
    display: flex;
    justify-content: $jusCon;
    align-items: $alIt;
}

//грид элемент: по вертикали центр, горизонтально - разнесено по краям
@mixin gridSpBeCent($jusCon: space-between, $alIt: center) {
    display: grid;
    justify-content: $jusCon;
    align-items: $alIt;
}

//грид центр
@mixin gridCent($jusCon: center, $alIt: center) {
    display: grid;
    justify-content: $jusCon;
    align-items: $alIt;
}

//обводка текста
@mixin textBorderGold {
    text-shadow: -0 -1px 4px $goldColor, 0 -1px 4px $goldColor, -0 1px 4px $goldColor, 0 1px 4px $goldColor, -1px -0 4px $goldColor, 1px -0 4px $goldColor, -1px 0 4px $goldColor, 1px 0 4px $goldColor, -1px -1px 4px $goldColor, 1px -1px 4px $goldColor, -1px 1px 4px $goldColor, 1px 1px 4px $goldColor, -1px -1px 4px $goldColor, 1px -1px 4px $goldColor, -1px 1px 4px $goldColor, 1px 1px 4px $goldColor;
}

@mixin textBorderBlack {
    text-shadow: -0 -1px 1px $blackColor, 0 -1px 1px $blackColor, -0 1px 1px $blackColor, 0 1px 1px $blackColor, -1px -0 1px $blackColor, 1px -0 1px $blackColor, -1px 0 1px $blackColor, 1px 0 1px $blackColor, -1px -1px 1px $blackColor, 1px -1px 1px $blackColor, -1px 1px 1px $blackColor, 1px 1px 1px $blackColor, -1px -1px 1px $blackColor, 1px -1px 1px $blackColor, -1px 1px 1px $blackColor, 1px 1px 1px $blackColor;
}

//параметры шрифтов
@mixin fontSizeBase($fs: 16px, $fWe: 400, $liHe: 24px, $color: $whiteColor) {
    font-size: $fs;
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

@mixin fontSizeP($fWe: 100, $liHe: calc(var(--fsP) * 1.5), $color: $blackColor) {
    font-size: var(--fsP);
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

@mixin fontSizeH5( $fWe: 200, $liHe: calc(var(--fsH5) * 1.5), $color: $blackColor) {
    font-size: var(--fsH5);
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

@mixin fontSizeH4( $fWe: 300, $liHe: calc(var(--fsH4) * 1.5), $color: $blackColor) {
    font-size: var(--fsH4);
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

@mixin fontSizeH3( $fWe: 400, $liHe: calc(var(--fsH3) * 1.5), $color: $blackColor) {
    font-size: var(--fsH3);
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

@mixin fontSizeH2($fWe: 500, $liHe: calc(var(--fsH2) * 1.5), $color: $whiteColor, $fsH2: var(--fsH2), ) {
    font-size: $fsH2;
    font-weight: $fWe;
    line-height: $liHe;
    color: $color;
    font-style: normal;
    font-family: $fontFamily1;
}

//----------------------------------------------------------------------------------------------------