@media (max-width: 1430px) {
  :root {
    //шрифты
    //  --fsH2: 44px; //заголовки h2
    //----------------------------------------------------
    //-----хэдер
    --menuGapHead: 50px; //расстояние между пунктами меню в хедер
    --logoHedHe: 70px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //------1блок
    --emmalustWi: 600px; //Ширина надписи Emma Lust
    --taglineTextWi: 100%; //Ширина текста слогана
  }
}

@media (max-width: 1255px) {
  :root {
    //шрифты
    --fsH2: 46px; //заголовки h2
    //----------------------------------------------------
    //-----хэдер
    --fsMenuHead: 26px; //размер шрифта в хедер
    --menuGapHead: 40px; //расстояние между пунктами меню в хедер
    --logoHedHe: 60px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //------1блок
    --bgWondowWi: 40vw; //Ширина изображения окна
    --firstBlockPaddingTB: 0px; //внутренние отступы 1 секции сверху и снизу
    --firstBlockHe: 50vw; //высота первого блока
    --emmalustWi: 47vw; //Ширина надписи Emma Lust
    //----------------------------------------------------
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 430px; //Ширина Изображения слайдера
  }
}

@media (max-width: 1024px) {
  :root {
    //шрифты
    --fsH2: 40px; //заголовки h2
    --fsP: 20px; //текст и блоки P
    //----------------------------------------------------
    //контент общий
    --marginTopBtnSect2: 50px; //внешний отступ кнопки 2,3 секции верхний
    --fs2sectTitle: 62px; //размер шрифта заголовка блока
    //---------------------------------------------------
    //----------------------------------------------------
    //-----хэдер
    --fsMenuHead: 20px; //размер шрифта в хедер
    --menuGapHead: 30px; //расстояние между пунктами меню в хедер
    --logoHedHe: 50px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //------1блок
    --bgWondowWi: 35vw; //Ширина изображения окна
    --firstBlockHe: 44vw; //высота первого блока
    --emmalustWi: 50vw; //Ширина надписи Emma Lust
    //----------------------------------------------------
    //----------------------------------------------------
    //------2блок
    --section2PaddingTB: 150px; //внутренние отступы 2 секции сверху и снизу
    //текст
    --marginTextCont2sect: 15px; //нижние отступы в текстовом блоке 2 секции
    //книга
    --containerBook2sectWi: 280px; // контейнера с книгой 2 секции и книги ширина
    --btnSect2Wi: 250px; //кнопка второй секции ширина
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 350px; //Ширина Изображения слайдера
  }
}

@media (max-width: 930px) {
  :root {
    //шрифты
    --fsH2: 32px; //заголовки h2
    --fsH3: 46px; //Заголовки h3
    --fsH4: 28px; //Заголовки h4
    //----------------------------------------------------
    //------общие
    --titleMarginBottom: 70px; //отступ нижний заголовка блока
    //----------------------------------------------------
    //------2блок
    --rigtBookShift: 10px; //отступ книги от правого края
    //----------------------------------------------------
    //----------------------------------------------------
    //----3блок
    --paddingSect3TopBot: 70px; //внутренний отступ 3 секции верх и низ
    --photoSect3Wi: 240px; //размер фото 3 секции ширина
    --marginLeftPhotoSect3: 60px; //отступ фото левый внешний 3 секция
    --lineSect3Wi: 200px; //длинна линии 3 секция
    //----------------------------------------------------
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 280px; //Ширина Изображения слайдера
  }
}

@media (max-width: 840px) {
  :root {
    //-----Общие
    --fs2sectTitle: 56px; //размер шрифта заголовка блока
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 450px; //Ширина Изображения слайдера
  }
}

@media (max-width: 770px) {
  :root {
    //шрифты
    --fsH2: 26px; //заголовки h2
    //----------------------------------------------------
    //-----хэдер
    --fsMenuHead: 17px; //размер шрифта в хедер
    --menuGapHead: 20px; //расстояние между пунктами меню в хедер
    --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //------1блок
    --emmalustWi: 47vw; //Ширина надписи Emma Lust
    //----------------------------------------------------
    //----------------------------------------------------
    //------2блок
    --section2PaddingTB: 130px; //внутренние отступы 2 секции сверху и снизу
    //текст
    //книга
    --containerBook2sectWi: 250px; // контейнера с книгой 2 секции и книги ширина
    //----------------------------------------------------
    //----------------------------------------------------
    //----3блок
    --paddingSect3TopBot: 70px; //внутренний отступ 3 секции верх и низ
    --photoSect3Wi: 240px; //размер фото 3 секции ширина
    --marginLeftPhotoSect3: 60px; //отступ фото левый внешний 3 секция
    --lineSect3Wi: 200px; //длинна линии 3 секция
  }
}

@media (max-width: 630px) {
  :root {
    //шрифты
    --fsH2: 29px; //заголовки h2
    //----------------------------------------------------
    //----контент
    --contentWidh: 100%; //блок контента
    //-----хэдер
    --fsMenuHead: 16px; //размер шрифта в хедер
    --menuGapHead: 30px; //расстояние между пунктами меню в хедер
    --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 55vw; //высота первого блока
    --bgWondowWi: 60vw; //Ширина изображения окна
    --emmalustWi: 80vw; //Ширина надписи Emma Lust
  }
}

@media (max-width: 530px) {
  :root {
    //шрифты
    --fsH2: 30px; //заголовки h2
    --fsH3: 42px; //Заголовки h3
    --fsH4: 26px; //Заголовки h4
    --fsP: 18px; //текст и блоки P
    //----------------------------------------------------
    //-----хэдер
    --fsMenuHead: 18px; //размер шрифта в хедер
    --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    //----------------------------------------------------
    //-----Общие
    --fs2sectTitle: 52px; //размер шрифта заголовка блока
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 57vw; //высота первого блока
    //---------------------------------------------------
    //----------------------------------------------------
    //------2блок
    //текст
    //книга
    --containerBook2sectWi: 200px; // контейнера с книгой 2 секции и книги ширина
    //
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.855
    ); // обложки книги 2 секции ширина
    //---------------------------------------------------
    //----------------------------------------------------
  }
}

@media (max-width: 495px) {
  :root {
    //шрифты
    --fsH2: 28px; //заголовки h2
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 60vw; //высота первого блока
    --emmalustWi: 90vw; //Ширина надписи Emma Lust
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 300px; //Ширина Изображения слайдера
  }
}

@media (max-width: 375px) {
  :root {
    //шрифты
    --fsH2: 24px; //заголовки h2
    --fsH3: 38px; //Заголовки h3
    --fsH4: 22px; //Заголовки h4
    --fsP: 16px; //текст и блоки P
    //----------------------------------------------------
    //контент общий
    --marginTopBtnSect2: 40px; //внешний отступ кнопки 2,3 секции верхний
    --titleMarginBottom: 30px; //отступ нижний заголовка блока
    --fs2sectTitle: 42px; //размер шрифта заголовка блока
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 60vw; //высота первого блока
    //---------------------------------------------------
    //----------------------------------------------------
    //------2блок
    //текст
    --marginTextCont2sect: 10px; //нижние отступы в текстовом блоке 2 секции
    //книга
    --containerBook2sectWi: 120px; // контейнера с книгой 2 секции и книги ширина
    //
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.855
    ); // обложки книги 2 секции ширина
    //---------------------------------------------------
    //----------------------------------------------------
    //----3блок
    --paddingSect3TopBot: 50px; //внутренний отступ 3 секции верх и низ
    --photoSect3Wi: 150px; //размер фото 3 секции ширина
    --lineSect3Wi: 70%; //длинна линии 3 секция
  }
}

@media (max-width: 320px) {
  :root {
    //шрифты
    --fsH2: 20px; //заголовки h2
    --fsH3: 28px; //Заголовки h3
    --fsH4: 19px; //Заголовки h4
    --fsH5: 18px; //Заголовки h5
    --fsP: 14px; //текст и блоки P
    //----------------------------------------------------
    //-----Общие
    --fs2sectTitle: 32px; //размер шрифта заголовка блока
    //---------------------------------------------------
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 60vw; //высота первого блока
    //---------------------------------------------------
    //----------------------------------------------------
    //------2блок
    --section2PaddingTB: 90px; //внутренние отступы 2 секции сверху и снизу
    //текст
    --marginTextCont2sect: 5px; //нижние отступы в текстовом блоке 2 секции
    //книга
    --containerBook2sectWi: 80px; // контейнера с книгой 2 секции и книги ширина
    //
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.872
    ); // обложки книги 2 секции ширина
    --btnSect2Wi: 180px; //кнопка второй секции ширина
    --btnSect2He: 50px; //кнопка второй секции высота
    //---------------------------------------------------
    //----------------------------------------------------
  }
}

@media (max-width: 270px) {
  :root {
    //шрифты
    --fsH2: 18px; //заголовки h2
    //----------------------------------------------------
    //------1блок
    --firstBlockHe: 80vw; //высота первого блока
    //---------------------------------------------------
    //----------------------------------------------------
    //----3блок
    --paddingSect3TopBot: 40px; //внутренний отступ 3 секции верх и низ
    --photoSect3Wi: 100px; //размер фото 3 секции ширина
    //----------------------------------------------------
    //----4блок
    --sliderImgWi: 250px; //Ширина Изображения слайдера
  }
}
