@media (max-width: 1430px) {
     :root {
        //-----хэдер
        --menuGapHead: 50px; //расстояние между пунктами меню в хедер
        --logoHedHe: 70px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 1255px) {
     :root {
        //-----хэдер
        --fsMenuHead: 26px; //размер шрифта в хедер
        --menuGapHead: 40px; //расстояние между пунктами меню в хедер
        --logoHedHe: 60px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 1024px) {
     :root {
        //-----хэдер
        --fsMenuHead: 20px; //размер шрифта в хедер
        --menuGapHead: 30px; //расстояние между пунктами меню в хедер
        --logoHedHe: 50px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 900px) {}

@media (max-width: 770px) {
     :root {
        //-----хэдер
        --fsMenuHead: 17px; //размер шрифта в хедер
        --menuGapHead: 20px; //расстояние между пунктами меню в хедер
        --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 630px) {
     :root {
        //----контент
        --contentWidh: 100%; //блок контента
        //-----хэдер
        --fsMenuHead: 16px; //размер шрифта в хедер
        --menuGapHead: 30px; //расстояние между пунктами меню в хедер
        --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 530px) {
     :root {
        //-----хэдер
        --fsMenuHead: 18px; //размер шрифта в хедер
        --logoHedHe: 40px; //высота логотипа хедера(ширина автоматическая)
    }
}

@media (max-width: 495px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

@media (max-width: 270px) {}