//обнуление
@import 'null-style';
//переменные,шаблоны,миксины
@import 'base';
// медиа адаптив из размерных переменных ОБЩИЙ
@import 'base-media-variables';
//хедер
@import 'style-header';
//футер
@import 'style-footer';
//стрелка вверх
@import 'up-btn';
//POPUP
@import 'style-elements-additional';
//preloader
@import 'preloader';
// ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ попап>
@import 'policy';
// ФИЛЬТР
@import 'style-filter';
//
//
//ПЕРВАЯ СЕКЦИЯ
@import 'tagline-writer-photo';
//--------------------------------------------
//
//
//
//
//
//
//
//
//
//
//
//
//-----ПЕРЕМЕННЫЕ-ROOT-ОБЩИЕ-----
//----МЕДИА----ПЕРЕМЕННЫЕ-ROOT-ОБЩИЕ-----
//-------1024-PX-----------
@media (max-width: 1024px) {
  :root {
    --fsH4: 26px; //Заголовки h4
  }
}

//-------770-PX-----------
@media (max-width: 770px) {
  :root {
    --fsH4: 22px; //Заголовки h4
  }
}

//-------490-PX-----------
@media (max-width: 495px) {
  :root {
    --fsH4: 16px; //Заголовки h4
  }
}

//-------375-PX-----------
@media (max-width: 375px) {
  :root {
    --fsH4: 14px; //Заголовки h4
  }
}

//-------260-PX-----------
@media (max-width: 260px) {
  :root {
    --fsH4: 11px; //Заголовки h4
  }
}

//
//
//
//
//
//
main {
  overflow: hidden;
}

//
//
//
//
//
//
//-----------------------------------------------
//
//
//
//
//
//-------------ПЕРВАЯ-СЕКЦИЯ--------------------
//--добавляется через импорт
//
//
//
//
//
//----------------ВТОРАЯ-СЕКЦИЯ---------------------
:root {
  //-!!!---1-БЛОК---!!!-
  --block2He: max-content; //высота 2 блока
  --wrapper2SectPaddingButtom: 50px; //нижний отступ во второй секции
  --titleBgWi: 78%; //ширина блока фона с листом бумаги и заголовка
  --topTitleBg: -30px; //Смещение Листа бумаги вверх
  --marginTopBtn: 30px; //внешний отступ кнопки
  --topBaseTitleMarg: 20px; //верхний отступ общего
  --topTitlePadding: 70px; //верхний отступ заголовка заголовка
  /*---------*/
  //-----------книга-----------
  --rigtfunShift: 20px; //отступ книги от правого края
  --containerfun2sectWi: 223px; // контейнера с книгой 2 секции и книги ширина
  --containerfun2sectHe: calc(
    var(--containerfun2sectWi) * 1.51
  ); //486px; контенера с книгой 2 секции и книги высота
  --coverfun2sectWi: calc(
    var(--containerfun2sectWi) * 0.8669
  ); //280px обложки книги 2 секции ширина
  --coverfun2sectHe: calc(
    var(--coverfun2sectWi) * 1.7
  ); //475px обложки книги 2 секции высота
  //-----------------------------------
}

.fun-block {
  //стили всего блока
  @include wiHe($he: var(--block2He));
  min-height: 100%;
  padding: 0;
  //стили обертки с контентом
  &__wrapper {
    @include wiHe;
    @include flCent;
    min-height: 120vh;
    flex-direction: column;
    z-index: 10;
    position: relative;
    color: white;
    padding-top: calc(var(--topTitlePadding) + var(--topTitleBg));
    padding-bottom: var(--wrapper2SectPaddingButtom);
  }
  /*--Заголовок и фон ЛИСТ БУМАГИ--*/
  //фон лист бумаги
  &__bg-title {
    @include wiHe(var(--titleBgWi), 120%);
    @include leTo(var(--topTitleBg), 50%);
    margin-left: calc(var(--titleBgWi) / -2);
    z-index: -1;
    background-color: $skinColor;
    position: absolute;
    border-radius: 10px;
  }
  //вензеля вензеля по углам
  &__bg-title-wrap {
    @include wiHe;
    position: relative;
    padding-top: var(--topTitlePadding);
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      background-image: url('../img/corner1.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
    &::before {
      top: 0;
      left: 20px;
    }
    &::after {
      top: 0;
      right: 20px;
      transform: scale(-1, 1);
    }
  }
  /*----*/
  /*----ЗАГОЛОВОК----*/
  &__base-title {
    @include wiHe(80%, max-content);
    @include fontSizeH2(
      $fsH2: calc(var(--fs2sectTitle) - 10px),
      $color: $emeraldDarkColor
    );
    margin: 0 auto 25px;
  }
  /*---*/
  /*-----------------------*/
  /*--КОНТЕЙНЕР С КОНТЕНТОМ КНИГ--*/
  &__container {
    @include wiHe(98vw, $he: max-content);
    @include flexSpBeCent($jusCon: space-around);
    z-index: 20;
    position: relative;
  }
  //------жанр и дата релиза---
  &__genre,
  &__data {
    @include wiHe(9%, 100px);
    @include flCent;
    @include fontSizeP($color: $skinColor, $fontSize: calc(var(--fsP) - 4px));
    text-align: center;
  }
  //блок с книгой
  &__fun {
    @include wiHe(var(--titleBgWi));
    padding: 20px 2vw;
    margin: 0 2px;
    overflow: hidden;
  }
  /*----РАЗДЕЛИТЕЛЬНАЯ ЛИНИЯ--*/
  &__line {
    position: relative;
    z-index: 21;
    @include wiHe(60%, max-content);
    margin: 0 auto;
    img {
      @include wiHe(100%, auto);
    }
  }
  /*----*/
  //-----ССЫЛКИ----
  &__link-group {
    @include wiHe(70%, max-content);
    @include flCent;
    position: relative;
    z-index: 21;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 4vw;
  }
  &__link {
    @include textBorderSmokeColor;
    @include fontSizeP(
      $fWe: 800,
      $color: $blackColor,
      $fontSize: calc(var(--fsP) + 2px)
    );
    text-align: center;
    &:hover {
      @include textBorderBlack;
      color: $whiteColor;
    }
  }
  //Вспомогательная линия с вензелями по углам снизу
  .line-auxiliary {
    @include wiHe(var(--titleBgWi), 2px);
    z-index: 10;
    position: relative;
    margin: auto;
    margin-bottom: 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      background-image: url('../img/corner1.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
    &::before {
      bottom: calc(var(--wrapper2SectPaddingButtom) * -1);
      left: 20px;
      transform: scale(1, -1);
    }
    &::after {
      bottom: calc(var(--wrapper2SectPaddingButtom) * -1);
      right: 20px;
      transform: scale(-1, -1);
    }
  }
}

/*----контейнер с ОПИСАНИЕМ КНИГИ--*/

.fun-book-position {
  z-index: 10;
  position: relative;
}

.fun {
  @include flCent($jusCon: space-around);
  &__text-container {
    @include wiHe(60%);
  }
  //ЛЕЙБЛ НОВИНКА
  &__new {
    border: 1px solid red;
    @include wiHe(30%, max-content);
    @include flCent;
    @include fontSizeH4($color: $redColor);
    @include textBorderSmokeColor;
    margin: 15px auto;
    text-align: center;
    height: 100%;
  }
  //
  //-----заголовок книги
  &__title {
    position: relative;
    @include fontSizeH3($color: $blackColor);
    text-align: center;
  }
  //-----подзаголовок книги
  &__subtitle {
    @include fontSizeH4($color: $blackColor);
    text-align: center;
  }
  //------текст
  &__text {
    @include fontSizeP($color: $blackColor);
    text-align: start;
    hyphens: auto;
  }
  //---кнопка перехода к книге
  &__btn {
    display: flex;
    &::after {
      content: 'Читать';
    }
  }
  /*--*/
  /*--контейнер с ФОТО книги и ссылками--*/
  &__photo-container {
    @include wiHe(30%);
    @include flCent;
    flex-direction: column;
  }
  &__photo {
    @include wiHe(var(--containerfun2sectWi), var(--containerfun2sectHe));
    position: relative;
    top: -15px;
    right: var(--rigtfunShift);
    //тень за книгой
    &::after {
      @include wiHe(var(--containerfun2sectWi), var(--containerfun2sectHe));
      @include leTo(34%, 11%);
      content: '';
      position: absolute;
      box-shadow: 50px -100px 50px 90px $blackColorOpacity;
      background-color: $blackColorOpacity;
      transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg)
        matrix(0.6, 1.5, 0, 3, 7, 6);
    }
  }
  &__cover {
    @include wiHe(var(--coverfun2sectWi), var(--coverfun2sectHe));
    @include leTo;
    z-index: 5;
    position: absolute;
    //
    clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    transform-origin: right;
    transform: matrix(1.15, 0.2, 0, 1, 4, 6) rotateY(30deg);
    /*
       
        
        //rotateY(30deg) skew(10deg, 0deg);*/
    img {
      @include wiHe;
    }
  }
  &__body {
    @include wiHe(98%, 98%);
    @include leTo(1%, 1%);
    z-index: 3;
    position: absolute;
    img {
      @include wiHe;
    }
  }
}

//
//---------!!!!!!-----МЕДИА ЗАПРОСЫ----!!!!!-------
//-------1170-PX-----------
@media (max-width: 1170px) {
  :root {
    //-!!!---2-БЛОК---!!!-
    //  --topTitleBg: -80px; //Смещение Листа бумаги вверх
    --titleBgWi: 78%; //ширина блока фона с листом бумаги и заголовка
    /*---------*/
  }
  .fun-block {
    /*--Заголовок и фон ЛИСТ БУМАГИ--*/
    //фон лист бумаги
    &__bg-title {
      padding-top: 0;
    }
  }
}

//
//-------930-PX-----------
@media (max-width: 930px) {
  :root {
    //-!!!---2-БЛОК---!!!-
    //-----------книга-----------
    --rigtfunShift: 0px; //отступ книги от правого края
    --containerfun2sectWi: 103px; // контейнера с книгой 2 секции и книги ширина
    --containerfun2sectHe: calc(
      var(--containerfun2sectWi) * 1.51
    ); //486px; контенера с книгой 2 секции и книги высота
    --coverfun2sectWi: calc(
      var(--containerfun2sectWi) * 0.8669
    ); //280px обложки книги 2 секции ширина
    --coverfun2sectHe: calc(
      var(--coverfun2sectWi) * 1.7
    ); //475px обложки книги 2 секции высота
    //-----------------------------------
  }
  .fun-block {
    /*----ЗАГОЛОВОК----*/
    &__base-title {
      @include fontSizeH2(
        $fsH2: calc(var(--fs2sectTitle) - 15px),
        $color: $emeraldDarkColor
      );
    }
    /*---*/
    //------жанр и дата релиза---
    &__genre,
    &__data {
      @include fontSizeP($fontSize: calc(var(--fsP) - 3px), $color: $skinColor);
    }
  }
  .fun {
    @include flCent;
    flex-direction: column;
    &__text-container {
      @include wiHe;
      order: 2;
    }
    /*--контейнер с ФОТО книги и ссылками--*/
    &__photo-container {
      @include wiHe(100%);
      @include flCent;
      flex-direction: row;
      gap: 100px;
    }
    &__photo {
      top: 0px;
      order: 2;
      //тень за книгой
      &::after {
        @include leTo(34%, 5%);
        box-shadow: 20px -70px 50px 50px $blackColorOpacity;
      }
    }
    &__cover {
      transform: matrix(1.15, 0.2, 0, 1, 1.5, 3) rotateY(30deg);
    }
    //-----ССЫЛКИ----
    ul {
      margin-top: 0px;
      gap: 2px;
    }
  }
}

//
//-------850-PX-----------
@media (max-width: 850px) {
  main {
    padding: 0;
  }
  :root {
    --topTitleBg: -10px; //Смещение Листа бумаги вверх
    --titleBgWi: 96%; //ширина блока фона с листом бумаги и заголовка
    --topBaseTitleMarg: 35px; //верхний отступ общего заголовка
    /*---------*/
  }
  .fun-block {
    //стили всего блока
    min-height: 100%;
    //стили обертки с контентом
    /*--КОНТЕЙНЕР С КОНТЕНТОМ КНИГ--*/
    &__container {
      @include wiHe(90%, max-content);
      @include flCent;
      flex-direction: column;
      gap: 5px;
      margin: auto;
    }
    //------жанр и дата релиза---
    &__genre,
    &__data {
      @include wiHe(100%, max-content);
      @include fontSizeP($color: $emeraldDarkColor);
      order: 2;
    }
    //блок с книгой
    &__fun {
      padding: 20px 3vw;
      order: 1;
    }
    /*----*/
  }
  .fun {
    /*--контейнер с ФОТО книги и ссылками--*/
    &__photo-container {
      gap: 15vw;
    }
  }
}

//
//-------650-PX-----------
@media (max-width: 650px) {
  :root {
    --topTitlePadding: 40px;
  }
  .fun-block {
    &__bg-title-wrap {
      //вензеля вензеля по углам
      &::before,
      &::after {
        width: 100px;
        height: 100px;
      }
      &::before {
        left: 5px;
      }
      &::after {
        right: 5px;
      }
    }
    //Вспомогательная линия с вензелями по углам снизу
    .line-auxiliary {
      &::before,
      &::after {
        width: 100px;
        height: 100px;
      }
      &::before {
        left: 5px;
      }
      &::after {
        right: 5px;
      }
    }
  }
}

//
//
//-------370-PX-----------
@media (max-width: 370px) {
  :root {
    --topTitleBg: -2px; //Смещение Листа бумаги вверх
  }
  .fun-block {
    //стили обертки с контентом
    /*--Заголовок и фон ЛИСТ БУМАГИ--*/
    /*----ЗАГОЛОВОК----*/
    &__base-title {
      @include fontSizeH2(
        $fsH2: var(--fs2sectTitle),
        $color: $emeraldDarkColor
      );
    }
    //фон лист бумаги
    &__bg-title {
      @include wiHe(var(--titleBgWi), 102%);
    }
  }
  .fun {
    //ЛЕЙБЛ НОВИНКА
    &__new {
      @include wiHe(50%, max-content);
      margin: 10px auto 3px;
      padding: 3px;
    }
    /*--контейнер с ФОТО книги и ссылками--*/
    &__photo-container {
      @include wiHe(100%, max-content);
      flex-direction: column;
      gap: 10px;
    }
    &__photo {
      top: 0px;
      order: 1;
      //тень за книгой
      &::after {
        @include leTo(37%, 12%);
        box-shadow: 20px -70px 20px 25px $blackColorOpacity;
      }
    }
    &__cover {
      transform: matrix(1.15, 0.2, 0, 1, 1.5, 3) rotateY(30deg);
    }
    //-----ССЫЛКИ----
    ul {
      order: 2;
      margin-top: 0px;
      gap: 2px;
    }
  }
}

@media (max-width: 240px) {
  .fun-block {
    /*----ЗАГОЛОВОК----*/
    &__base-title {
      @include fontSizeH2(
        $fsH2: calc(var(--fs2sectTitle) - 8px),
        $color: $emeraldDarkColor
      );
    }
  }
}

//-----------------------------
//
//
//
//
//
//
//
//
//
//---------ПОПАПЫ-И-ДОП-ЭЛЕМЕНТЫ-------
//
//-----------------------------
//
//
//
//
//
//
//
//
//
//

/*------ПОРЯДОК ОТОБРАЖЕНИЯ КНИГ----*/

.book-position {
  order: 10;
}

/*--*/

.new-book3 {
  order: 3;
}

.new-book2 {
  order: 2;
}

.new-book {
  order: 1;
}

/*--*/

.line-auxiliary {
  order: 10000000;
}

/*----*/
