//обнуление
@import 'null-style';
//переменные,шаблоны,миксины
@import 'base';
// медиа адаптив из размерных переменных
@import 'media-variables';
//хедер 
@import 'style-header';
//футер
//@import 'style-footer';
//POPUP
//@import 'style-elements-additional';
//-
//-------------------общие стили----------------
body {
    background: $darkGrayColor;
}

//стиль блокировки прокрутки 
.lock {
    overflow: hidden;
}

//----------------------------------------------------------------------------------------------
//---------------------------------------ПЕРВАЯ-СЕКЦИЯ----------------------------------------
.tagline {
    //стили всего блока
    @include wiHe($he: var(--firstBlockHe));
    background-color: $DarkRedColor;
    padding: var(--firstBlockPaddingTB) 0;
    h1 {
        display: none;
    }
    //стили обертки с контентом
    &__wrapper {
        border: 2px solid red;
        @include wiHe(var(--contentWidh));
        margin: auto;
        position: relative;
        &::after {
            border: 2px solid rgb(231, 231, 231);
            content: '';
            position: absolute;
            @include leTo;
            @include wiHe;
            @include bgImg( $bgImSize: var(--bgWondowWi) auto, $bgPosition: center right 0);
            //
            background-image: url('../img/girl-on-window.png');
            margin: auto;
        }
    }
    //стили контейнера с заголовком и слоганом
    &__container {
        border: 2px solid rgb(212, 255, 0);
        @include flCent;
        @include wiHe(min-content);
        z-index: 5;
        position: relative;
        flex-direction: column;
    }
    //стили заголовка Emma Lust
    &__title {
        @include wiHe(max-content,
        max-content);
        @include flCent;
        img {
            @include wiHe(var(--emmalustWi),
            auto);
        }
    }
    //текст слогана
    &__text {
        border: 2px solid rgb(0, 187, 255);
        @include wiHe(var(--taglineTextWi),
        max-content);
        @include fontSizeH2;
        text-align: center;
    }
}

//----------------------------------------------------------------
//-------------------------МЕДИА ЗАПРОСЫ--------------------------
//----------------------------------------------------------------
//
//
//----------------------------------------------------------------
//-----------------------------630 PX-----------------------------
//----------------------------------------------------------------
@media (max-width: 630px) {
    .tagline {
        &__wrapper {
            @include flCent;
            &::after {
                @include bgImg( $bgImSize: var(--bgWondowWi) auto, $bgPosition: center);
                opacity: 0.15;
            }
        }
    }
}

//
//
//----------------------------------------------------------------
//-----------------------------630 PX-----------------------------
//----------------------------------------------------------------
@media (max-width: 495px) {
    .tagline {
        //стили всего блока
        padding: var(--firstBlockPaddingTB) 5%;
    }
}

//----------------------------------------------------------------------------------------------
//---------------------------------------ВТОРАЯ-СЕКЦИЯ----------------------------------------