/*---------------FOOTER-----------------*/

.footer {
  @include wiHe($he: max-content);
  @include flCent;
  flex-direction: column;
  background-color: $emeraldColor;
  padding: 40px 0px 0px;
  //обертка строки футера
  &__row {
    box-sizing: border-box;
    @include wiHe(var(--contentWidh), max-content);
    @include flexSpBeCent;
  }
  //логотип
  &__logo {
    box-sizing: border-box;
    @include wiHe(var(--logoFootWi), var(--logoFootHe));
    img {
      @include wiHe;
    }
  }
  //копирайт контейнер
  &__copyright-container {
    @include flCent;
    flex-direction: column;
  }
  //копирайт
  &__copyright {
    @include fontSizeP($color: $whiteColor);
    margin-bottom: 10px;
  }
  //разработано
  &__developed {
    @include fontSizeP($fontSize: calc(var(--fsP) - 6px), $color: $whiteColor);
    &:hover {
      color: $skinColor;
    }
  }
  //группа ссылок
  &__sotial-link-group {
    @include wiHe(var(--logoFootWi), var(--logoFootHe));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //ссылки на соцсети
  &__link {
    @include wiHe(var(--socialLogoWi), var(--socialLogoWi));
    @include bgImg;
    border-radius: 50%;
    &:hover {
      box-shadow: 0 0 5px 2px $whiteColor;
    }
  }
  &__ig {
    background-image: url('../img/ig-lable-white.svg');
    &:hover {
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%)
        contrast(85%);
    }
  }
  &__vk {
    background-image: url('../img/vk-lable-white.svg');
    &:hover {
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%)
        contrast(85%);
    }
  }
  &__yt {
    background-image: url('../img/yt-lable-white.svg');
    &:hover {
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%)
        contrast(85%);
    }
  }
  &__policy {
    width: 95%;
    font-size: var(--fsPolicy);
    color: $darkGrayColor;
    margin: 50px auto;
  }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//-------------------------МЕДИА ЗАПРОСЫ--------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//
//
//
//
//
//
//-----------------------------930 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 930px) {
  .footer {
    //обертка строки футера
    &__row {
      @include flCent;
      flex-direction: column;
      gap: 35px;
    }
    //логотип
    &__logo {
      order: 2;
    }
    //копирайт контейнер
    &__copyright-container {
      order: 3;
    }
    //группа ссылок
    &__sotial-link-group {
      @include wiHe;
      display: flex;
      justify-content: center;
      gap: 50px;
      order: 1;
    }
    &__policy {
      margin: 30px auto;
    }
  }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------480 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 480px) {
  .footer {
    &__row {
      gap: 25px;
    }
    &__policy {
      margin: 10px auto;
    }
  }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------320 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 480px) {
  .footer {
    padding: 20px 0px 0px;
    &__row {
      gap: 15px;
    }
  }
}

/*-----------------------------*/
