/*---------------FOOTER-----------------*/

.footer {
    @include wiHe($he: max-content);
    @include flCent;
    flex-direction: column;
    background-color: $emeraldColor;
    padding: 40px 0px 0px;
    //обертка строки футера
    &__row {
        box-sizing: border-box;
        @include wiHe(var(--contentWidh), max-content);
        @include flexSpBeCent;
    }
    //логотип
    &__logo {
        box-sizing: border-box;
        @include wiHe(var(--logoFootWi), var(--logoFootHe));
        img {
            @include wiHe;
        }
    }
    //копирайт
    &__copyright {
        @include fontSizeP($color: $whiteColor);
    }
    //группа ссылок
    &__sotial-link-group {
        @include wiHe(var(--logoFootWi), var(--logoFootHe));
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    //ссылки на соцсети
    &__link {
        @include wiHe(60px, 60px);
        @include bgImg;
        border-radius: 50%;
        &:hover {
            box-shadow: 0 0 5px 2px $whiteColor;
        }
    }
    &__ig {
        background-image: url('../img/ig-lable-white.svg');
        &:hover {
            filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
        }
    }
    &__vk {
        background-image: url('../img/vk-lable-white.svg');
        &:hover {
            filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
        }
    }
    &__yt {
        background-image: url('../img/yt-lable-white.svg');
        &:hover {
            filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
        }
    }
    &__policy {
        width: 95%;
        font-size: 12px;
        color: $darkGrayColor;
        margin: 50px auto;
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//-------------------------МЕДИА ЗАПРОСЫ--------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//
//
//
//
//
//----------------------------------------------------------------
//-----------------------------1024 PX----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 1024px) {
    .footer {
        &__link {
            @include wiHe(35px,
            35px);
        }
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------900 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 900px) {
    .footer {
        padding-bottom: 200px;
        &__logo {
            @include wiHe(170px,
            32px);
        }
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------480 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 480px) {
    .footer__row {
        @include flCent;
        flex-wrap: wrap;
        gap: 20px;
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------320 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 320px) {
    .footer {
        overflow: hidden;
        //группа ссылок
        &__sotial-link-group {
            gap: 10px;
        }
    }
}


/*-----------------------------*/