.filters {
  @include wiHe(40vw, max-content);
  @include flCent;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  margin: 10px auto 25px;
  //Стилизуем кнопку
  &__btn {
    flex-grow: 1;
    flex-basis: 150px;
    min-width: max-content;
  }
  &__checkbox {
    @include wiHe;
    @include flCent;
    @include fontSizeP($color: $skinColor, $fontSize: calc(var(--fsP) + 2px));
    padding: 2px 15px;
    background-color: $emeraldColor;
    border-radius: 10px;
    opacity: 0.5;
    &:hover {
      box-shadow: 0 0 20px $blackColor;
      color: $whiteColor;
    }
  }
  //отключаем стандартный значек чекбокса
  input {
    display: none;
  }
  //если выбрана кнопка фильтрации активируем ее
  input:checked ~ .filters__checkbox {
    opacity: 1;
    color: $whiteColor;
  }
  //если  кнопка фильтрации DISABLED
  input:disabled ~ .filters__checkbox {
    opacity: 0.4;
    background-color: $darkGrayColor;
    color: $emeraldDarkColor;
    &:hover {
      box-shadow: unset;
    }
  }
  //если  кнопка фильтрации DISABLED CHECKED
  input:checked:disabled ~ .filters__checkbox {
    opacity: 1;
    color: $whiteColor;
    background-color: $emeraldColor;
  }
}

.all-filter {
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.fun-filter {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.separate-filter {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.new-book {
  transition: all 0.5s ease 0s;
}
