/*----HEADER-----*/

.header {
    @include wiHe($he: max-content);
    z-index: 50;
    position: relative;
    background-color: $emeraldColor;
    padding: 10px 0;
    .container {
        @include wiHe(var(--contentWidh));
        @include flexSpBeCent;
        margin: 0px auto;
        position: relative;
    }
    //логотип
    &__logo {
        @include wiHe( max-content, max-content);
        img {
            // @include wiHe(var(--logoHedWi), auto)
            @include wiHe( auto, var(--logoHedHe))
        }
        &:hover img {
            filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
        }
    }
    //навигация
    &__menu {
        ul {
            @include wiHe( 100%, var(--logoHedHe));
            @include flCent;
            gap: var(--menuGapHead);
        }
    }
    //ссылки
    &__link {
        @include fontSizeBase(var(--fsMenuHead));
        &:hover {
            color: $skinColor;
        }
    }
    //контактный телефон
    &__form {
        img {
            @include wiHe(auto, var(--logoHedHe))
        }
        &:hover img {
            filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
        }
    }
    // кнопка мобильного меню
    &__btn-navigation-menu {
        display: none;
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//-------------------------МЕДИА ЗАПРОСЫ--------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//
//
//
//
//
//----------------------------------------------------------------
//-----------------------------630 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 630px) {
    .header {
        .container {
            margin: 0px;
            padding: 0 5%;
        }
        // кнопка мобильного меню
        &__btn-navigation-menu {
            @include flCent;
            @include fontSizeBase(var(--fsMenuHeadBtn));
            &:hover {
                color: $skinColor;
            }
        }
        //навигация
        &__menu {
            @include wiHe( 100%, max-content);
            @include leTo(-200%, 0);
            position: absolute;
            background-color: $emeraldColor;
            //
            transition: all 0.4s ease 0s;
            //----отображение мобильного меню
            &.active-block-menu {
                top: 110%;
            }
            ul {
                height: var(--logoHedHe);
                margin: 10px 0px;
            }
        }
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------530 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 530px) {
    .header {
        //навигация
        &__menu {
            //  flex-wrap: wrap;
            ul {
                @include flexSpBeCent($jusCon: space-around);
                height: max-content;
                flex-wrap: wrap;
                row-gap: 20px;
                .link {
                    text-align: center;
                    width: 28%;
                }
            }
        }
    }
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//-----------------------------270 PX-----------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
@media (max-width: 530px) {
    .header {
        //навигация
        &__menu {
            //  flex-wrap: wrap;
            ul {
                row-gap: 20px;
                .link {
                    text-align: center;
                    width: 90%;
                }
            }
        }
    }
}