@media (max-width: 1255px) {
  :root {
    --fsH2: 38px; } }

@media (max-width: 1024px) {
  :root {
    --fsH2: 32px;
    --fsP: 20px;
    --marginTopBtn: 50px;
    --btnSect2Wi: 250px;
    --fs2sectTitle: 62px; } }

@media (max-width: 840px) {
  :root {
    --fsH2: 28px;
    --fs2sectTitle: 56px; } }

@media (max-width: 770px) {
  :root {
    --fsH2: 26px; } }

@media (max-width: 630px) {
  :root {
    --fsH2: 29px;
    --contentWidh: 100%; } }

@media (max-width: 530px) {
  :root {
    --fsH2: 30px;
    --fsH3: 42px;
    --fsH4: 26px;
    --fsP: 18px;
    --fs2sectTitle: 52px;
    --marginTopBtn: 40px; } }

@media (max-width: 495px) {
  :root {
    --fsH2: 24px; } }

@media (max-width: 375px) {
  :root {
    --fsH2: 24px;
    --fsH3: 38px;
    --fsH4: 22px;
    --fsP: 16px;
    --titleMarginBottom: 30px;
    --fs2sectTitle: 42px; } }

@media (max-width: 320px) {
  :root {
    --fsH2: 20px;
    --fsH3: 28px;
    --fsH4: 19px;
    --fsH5: 18px;
    --fsP: 14px;
    --fs2sectTitle: 32px;
    --btnSect2Wi: 180px;
    --btnSect2He: 50px; } }

@media (max-width: 270px) {
  :root {
    --fsH2: 18px; } }
