@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
:root {
  --fsMenuHeadBtn: 30px;
  --fsMenuHead: 32px;
  --fsH2: 56px;
  --fsH3: 48px;
  --fsH4: 30px;
  --fsH5: 26px;
  --fsP: 22px;
  --fsPolicy: 12px;
  --contentWidh: 95vw;
  --marginTopBtn: 100px;
  --btnSect2Wi: 300px;
  --btnSect2He: 50px;
  --titleMarginBottom: 80px;
  --fs2sectTitle: 72px; }

body {
  background: #041308;
  position: relative; }

h1 {
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 1px !important; }

.lock {
  overflow: hidden; }

.not-visible {
  display: none; }

.content-btn {
  width: var(--btnSect2Wi);
  height: var(--btnSect2He);
  z-index: 4;
  position: relative;
  left: 50%;
  margin-top: var(--marginTopBtn);
  margin-left: calc(var(--btnSect2Wi) / -2);
  background-color: #808080;
  border-radius: 10px; }
  .content-btn::after {
    font-size: var(--fsH5);
    font-weight: 300;
    line-height: calc(var(--fsH5) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    width: var(--btnSect2Wi);
    height: var(--btnSect2He);
    top: -4px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    background-color: #240e04;
    border-radius: 10px; }
  .content-btn:hover::after {
    color: #e2c68e; }
  .content-btn:active::after {
    top: 0;
    left: 0; }

.base-title {
  z-index: 5;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: var(--fs2sectTitle);
  font-weight: 600;
  line-height: calc(var(--fsH2) * 1.5);
  color: #1d241f;
  font-style: normal;
  font-family: Georgia, sans-serif;
  margin-bottom: var(--titleMarginBottom);
  text-align: center; }

@media (max-width: 1255px) {
  :root {
    --fsH2: 46px; } }

@media (max-width: 1024px) {
  :root {
    --fsH2: 40px;
    --fsP: 20px;
    --fsPolicy: 9px;
    --marginTopBtnSect2: 50px;
    --btnSect2Wi: 250px;
    --fs2sectTitle: 62px; } }

@media (max-width: 840px) {
  :root {
    --fs2sectTitle: 56px; } }

@media (max-width: 770px) {
  :root {
    --fsH2: 26px;
    --fsPolicy: 8px; } }

@media (max-width: 630px) {
  :root {
    --fsH2: 29px;
    --contentWidh: 100%; } }

@media (max-width: 530px) {
  :root {
    --fsH2: 30px;
    --fsH3: 42px;
    --fsH4: 26px;
    --fsP: 18px;
    --fsPolicy: 7px;
    --fs2sectTitle: 52px; } }

@media (max-width: 495px) {
  :root {
    --fsH2: 28px; } }

@media (max-width: 375px) {
  :root {
    --fsH2: 24px;
    --fsH3: 38px;
    --fsH4: 22px;
    --fsP: 16px;
    --marginTopBtnSect2: 40px;
    --titleMarginBottom: 30px;
    --fs2sectTitle: 42px; } }

@media (max-width: 320px) {
  :root {
    --fsH2: 20px;
    --fsH3: 28px;
    --fsH4: 19px;
    --fsH5: 18px;
    --fsP: 14px;
    --fs2sectTitle: 32px;
    --btnSect2Wi: 180px;
    --btnSect2He: 50px; } }

@media (max-width: 270px) {
  :root {
    --fsH2: 18px; } }

:root {
  --menuGapHead: 80px;
  --logoHedHe: 100px; }

/*----HEADER-----*/
.header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 50;
  position: relative;
  background-color: #253229;
  padding: 10px 0; }
  .header .container {
    width: var(--contentWidh);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
    position: relative; }
  .header__logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .header__logo img {
      width: auto;
      height: var(--logoHedHe); }
    .header__logo:hover img {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__menu ul {
    width: 100%;
    height: var(--logoHedHe);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--menuGapHead); }
  .header__link {
    font-size: var(--fsMenuHead);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
    .header__link:hover {
      color: #e2c68e; }
  .header__form img {
    width: auto;
    height: var(--logoHedHe); }
  .header__form:hover img {
    -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
    filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__btn-navigation-menu {
    display: none; }

.active-menu {
  color: #646464 !important; }
  .active-menu:hover {
    color: unset;
    cursor: no-drop; }

@media (max-width: 1430px) {
  :root {
    --menuGapHead: 50px;
    --logoHedHe: 70px; } }

@media (max-width: 1255px) {
  :root {
    --fsMenuHead: 26px;
    --menuGapHead: 40px;
    --logoHedHe: 60px; } }

@media (max-width: 1024px) {
  :root {
    --fsMenuHead: 20px;
    --menuGapHead: 30px;
    --logoHedHe: 50px; } }

@media (max-width: 770px) {
  :root {
    --fsMenuHead: 17px;
    --menuGapHead: 20px;
    --logoHedHe: 40px; } }

@media (max-width: 630px) {
  :root {
    --fsMenuHead: 16px;
    --menuGapHead: 30px;
    --logoHedHe: 40px; }
  .header .container {
    margin: 0px;
    padding: 0 5%; }
  .header__btn-navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fsMenuHeadBtn);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
    .header__btn-navigation-menu:hover {
      color: #e2c68e; }
  .header__menu {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: -1000%;
    left: 0;
    position: absolute;
    background-color: #253229;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__menu.active-block-menu {
      top: 110% !important; }
    .header__menu ul {
      height: var(--logoHedHe);
      margin: 10px 0px; } }

@media (max-width: 530px) {
  :root {
    --fsMenuHead: 18px;
    --logoHedHe: 40px; }
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 20px; }
    .header__menu ul .link {
      text-align: center;
      width: 90%; } }

:root {
  --logoFootWi: 400px;
  --logoFootHe: calc(
    var(--logoFootWi) / 4
  );
  --socialLogoWi: 60px; }

/*---------------FOOTER-----------------*/
.footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #253229;
  padding: 40px 0px 0px; }
  .footer__row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--logoFootWi);
    height: var(--logoFootHe); }
    .footer__logo img {
      width: 100%;
      height: 100%; }
  .footer__copyright-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer__copyright {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 10px; }
  .footer__developed {
    font-size: calc(var(--fsP) - 6px);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
    .footer__developed:hover {
      color: #e2c68e; }
  .footer__sotial-link-group {
    width: var(--logoFootWi);
    height: var(--logoFootHe);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__link {
    width: var(--socialLogoWi);
    height: var(--socialLogoWi);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }
    .footer__link:hover {
      -webkit-box-shadow: 0 0 5px 2px #ffffff;
      box-shadow: 0 0 5px 2px #ffffff; }
  .footer__ig {
    background-image: url("../img/ig-lable-white.svg"); }
    .footer__ig:hover {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .footer__vk {
    background-image: url("../img/vk-lable-white.svg"); }
    .footer__vk:hover {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .footer__yt {
    background-image: url("../img/yt-lable-white.svg"); }
    .footer__yt:hover {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .footer__policy {
    width: 95%;
    font-size: var(--fsPolicy);
    color: #646464;
    margin: 50px auto; }

@media (max-width: 1430px) {
  :root {
    --logoFootWi: 350px; } }

@media (max-width: 1255px) {
  :root {
    --logoFootWi: 300px;
    --socialLogoWi: 48px; } }

@media (max-width: 1024px) {
  :root {
    --logoFootWi: 250px;
    --socialLogoWi: 42px; } }

@media (max-width: 930px) {
  :root {
    --logoFootWi: 400px;
    --socialLogoWi: 48px; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 35px; }
  .footer__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .footer__copyright-container {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .footer__sotial-link-group {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 50px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .footer__policy {
    margin: 30px auto; } }

@media (max-width: 630px) {
  :root {
    --logoFootWi: 350px; } }

@media (max-width: 495px) {
  :root {
    --logoFootWi: 300px;
    --socialLogoWi: 38px; }
  .footer__row {
    gap: 25px; }
  .footer__policy {
    margin: 10px auto; } }

@media (max-width: 480px) {
  .footer {
    padding: 20px 0px 0px; }
    .footer__row {
      gap: 15px; } }

@media (max-width: 320px) {
  :root {
    --logoFootWi: 250px;
    --socialLogoWi: 35px; } }

@media (max-width: 270px) {
  :root {
    --logoFootWi: 80%;
    --socialLogoWi: 30px; } }

/*-----------------------------*/
/*-----кнопка прокрутки------*/
.up-btn {
  z-index: 100;
  position: fixed;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  bottom: 15px;
  right: 10px;
  opacity: 0.4; }
  .up-btn:hover {
    opacity: 1; }
    .up-btn:hover .up-btn__img {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
    .up-btn:hover .up-btn__text {
      color: #e2c68e; }
  .up-btn__wrapper {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: block;
    padding-bottom: 12px;
    background-color: #1d241f;
    border-radius: 10px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  .up-btn__img {
    width: 50px;
    height: 50px; }
  .up-btn__text {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-transform: uppercase; }

@media (max-width: 350px) {
  .up-btn__wrapper {
    padding-bottom: 10px; }
  .up-btn__img {
    width: 40px;
    height: 30px; }
  .up-btn__text {
    font-size: 9px;
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; } }

.visible-popup {
  top: 0 !important;
  left: 0;
  /**/
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.popup-form__wrapper {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 150;
  position: fixed;
  background-color: #000000ec;
  /**/
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  /*добавить скролл меню для горизонталки*/
  overflow: auto; }

.popup-form__container {
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 50px;
  grid-template-areas: 'title ' 'form' 'text-filling';
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: max-content 25px max-content 25px max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
  row-gap: 25px;
  background-color: #ffffff; }

.popup-form__btn-close {
  width: 50px;
  height: 50px;
  top: 30px;
  right: 30px;
  position: absolute; }
  .popup-form__btn-close::before, .popup-form__btn-close::after {
    width: 40px;
    height: 4px;
    content: '';
    background-color: #808080;
    position: absolute;
    left: 5px; }
  .popup-form__btn-close::before {
    top: 23px;
    /**/
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .popup-form__btn-close::after {
    bottom: 23px;
    /**/
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.popup-form__btn-close:hover::after, .popup-form__btn-close:hover::before {
  background-color: #000000; }

.popup-form__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-size: var(--fsH3);
  font-weight: 600;
  line-height: calc(var(--fsH3) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: title;
  color: #000000; }

.popup-form__form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-area: form;
  grid-template-areas: 'name surname' 'email email' 'textarea textarea' 'text-policy text-policy' 'btn btn';
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  row-gap: 20px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  color: #000000; }
  .popup-form__form label {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fsH4);
    font-weight: 600;
    line-height: calc(var(--fsH4) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .popup-form__form input {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fsH5);
    font-weight: 300;
    line-height: calc(var(--fsH5) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-align: center;
    border: 1px solid #cccccc; }
  .popup-form__form input:hover {
    border-color: #e2c68e; }
  .popup-form__form input:focus {
    border-color: #253229; }
  .popup-form__form textarea {
    font-size: var(--fsH5);
    font-weight: 300;
    line-height: calc(var(--fsH5) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif;
    resize: vertical;
    height: 120px;
    border: 1px solid #cccccc;
    padding: 5px; }
  .popup-form__form textarea:hover {
    border-color: #e2c68e; }
  .popup-form__form textarea:focus {
    border-color: #253229; }

.popup-form__name-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  grid-area: name; }

.popup-form__surname-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  grid-area: surname; }

.popup-form__phone-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  grid-area: phone; }

.popup-form__email-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  grid-area: email; }

.popup-form__comments-container {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  grid-area: textarea; }

.popup-form__fail-message {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--fsP);
  font-weight: 300;
  line-height: calc(var(--fsP) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif; }

.popup-form__btn-container {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: btn; }

.biography__container > .popup-form__btn-container {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1; }

.popup-form__btn {
  font-size: var(--fsH4);
  font-weight: 600;
  line-height: calc(var(--fsH4) * 1.5);
  color: #ffffff;
  font-style: normal;
  font-family: Georgia, sans-serif;
  padding: 10px 45px;
  background-color: #253229; }
  .popup-form__btn:hover {
    -webkit-box-shadow: 0 0 10px 1px #e2c68e;
    box-shadow: 0 0 10px 1px #e2c68e;
    color: #e2c68e; }

.popup-form__text-mandatory-filling {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  width: 100%;
  font-size: calc(var(--fsP) - 6px);
  font-weight: 300;
  line-height: calc(var(--fsP) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif;
  grid-area: text-filling; }

.popup-form__policy {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  width: 100%;
  font-size: calc(var(--fsP) - 8px);
  font-weight: 300;
  line-height: calc(var(--fsP) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif;
  grid-area: text-policy;
  /*ЧЕКБОКС*/ }
  .popup-form__policy .checkbox__input {
    display: none; }
  .popup-form__policy .checkbox__input:checked + .checkbox__label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .popup-form__policy .checkbox__label {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    cursor: pointer; }
  .popup-form__policy .checkbox__label::before {
    content: '';
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    background-color: #e2c68e;
    border-radius: 4px;
    margin: 0px 10px 0px 0px; }
  .popup-form__policy .checkbox__label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #1d241f;
    border-radius: 4px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
  .popup-form__policy .checkbox__label a {
    color: #646464 !important; }
  .popup-form__policy .checkbox__label.error::before {
    border: 2px solid red; }

@media (max-width: 800px) {
  .popup-form__container {
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 20px;
    row-gap: 15px; }
  .popup-form__btn-close {
    top: 15px;
    right: 15px; }
  .popup-form__form {
    row-gap: 10px;
    -webkit-column-gap: 15px;
    column-gap: 15px; } }

@media (max-width: 495px) {
  .popup-form__container {
    width: 97%;
    height: 97%;
    padding: 100px 20px 50px;
    row-gap: unset;
    /*добавить скролл меню для горизонталки*/
    overflow: auto; }
  .popup-form__btn-close {
    top: 5px;
    right: 5px; }
  .popup-form__title {
    text-align: center; }
  .popup-form__form {
    -ms-grid-rows: auto unset auto unset auto unset auto unset auto unset auto unset auto;
    grid-template-areas: 'name' 'surname' 'phone' 'email' 'textarea' 'text-policy' 'btn';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: unset;
    -webkit-column-gap: unset;
    column-gap: unset; }
    .popup-form__form textarea {
      font-size: var(--fsH5);
      font-weight: 300;
      line-height: calc(var(--fsH5) * 1.5);
      color: #000000;
      font-style: normal;
      font-family: Georgia, sans-serif;
      height: 70px; }
  .popup-form__btn {
    font-size: var(--fsH4);
    font-weight: 600;
    line-height: calc(var(--fsH4) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-top: 5px;
    padding: 7px 35px;
    background-color: #253229; }
  .popup-form__name-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .popup-form__surname-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .popup-form__phone-container {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  .popup-form__email-container {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .popup-form__comments-container {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .popup-form__btn-container {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .popup-form__policy {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

@media (max-height: 799px) {
  .popup-form__container {
    width: 90%;
    height: 90%;
    padding: 50px 20px 5px;
    /*добавить скролл меню для горизонталки*/
    overflow: auto; }
  .popup-form__btn-close {
    top: 5px;
    right: 5px; } }

.preloader-none {
  display: none; }

.preloader-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.preloader {
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.964);
  /* Взято с ресурса https://techrocks.ru/2022/01/18/loader-in-pure-css/
*/ }
  .preloader__image {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px; }
    .preloader__image img {
      width: 100%;
      height: 100%; }
  .preloader__title {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #e2c68e;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 10px; }
  .preloader__loader {
    --b: 10px;
    /* толщина черточек */
    --n: 6;
    /* количество черточек*/
    --g: 30deg;
    /* промежутки между черточками(т.к. круговой в градусах)*/
    --c: rgb(226, 198, 142);
    /* цвет */
    width: 30px;
    /* размер */
    /**/
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    /*избавиться от плохих очертаний */
    background: conic-gradient(#0000, var(--c)) content-box;
    /**/
    /*мы используем +/-1 градус между цветами, чтобы избежать зубчатых краев*/
    --_m: repeating-conic-gradient(
        #0000 0deg,
        #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
        #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
      ),
      radial-gradient(
        farthest-side,
        #0000 calc(98% - var(--b)),
        #000 calc(100% - var(--b))
      );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    -webkit-animation: load 1s infinite steps(var(--n));
    animation: load 1s infinite steps(var(--n)); }

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

body {
  position: relative;
  background: #240e04; }

h1 {
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 1px !important; }

.lock {
  overflow: hidden; }

.content-btn {
  width: var(--btnSect2Wi);
  height: var(--btnSect2He);
  z-index: 4;
  position: relative;
  left: 50%;
  margin-top: var(--marginTopBtn);
  margin-left: calc(var(--btnSect2Wi) / -2);
  background-color: #808080;
  border-radius: 10px; }
  .content-btn::after {
    font-size: var(--fsH5);
    font-weight: 300;
    line-height: calc(var(--fsH5) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    width: var(--btnSect2Wi);
    height: var(--btnSect2He);
    top: -4px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    background-color: #240e04;
    border-radius: 10px; }
  .content-btn:hover::after {
    color: #e2c68e; }
  .content-btn:active::after {
    top: 0;
    left: 0; }

.base-title {
  z-index: 5;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: var(--fs2sectTitle);
  font-weight: 600;
  line-height: calc(var(--fsH2) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif;
  margin-bottom: var(--titleMarginBottom);
  text-align: center; }

:root {
  --bgWondowWi: 550px;
  --firstBlockPaddingTB: 70px;
  --firstBlockHe: 700px;
  --emmalustWi: 53vw;
  --taglineTextWi: 74%;
  --section2PaddingTB: 200px;
  --containerText2sectWi: 45%;
  --marginTextCont2sect: 30px;
  --rigtBookShift: 50px;
  --containerBook2sectWi: 323px;
  --containerBook2sectHe: calc(
    var(--containerBook2sectWi) * 1.51
  );
  --coverBook2sectWi: calc(
    var(--containerBook2sectWi) * 0.8669
  );
  --coverBook2sectHe: calc(
    var(--coverBook2sectWi) * 1.7
  );
  --paddingSect3TopBot: 80px;
  --photoSect3Wi: 300px;
  --marginLeftPhotoSect3: 80px;
  --bgPhotoSect3Wi: calc(var(--photoSect3Wi) * 1.5);
  --bgPhotoSect3He: calc(var(--photoSect3Wi) * 1.65);
  --lineSect3Wi: 300px;
  --sliderImgWi: 500px; }

.tagline {
  width: 100%;
  height: var(--firstBlockHe);
  background-color: #240e04;
  padding: var(--firstBlockPaddingTB) 0; }
  .tagline__wrapper {
    width: var(--contentWidh);
    height: 100%;
    margin: auto;
    position: relative; }
    .tagline__wrapper::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: var(--bgWondowWi) auto;
      background-position: center right 0;
      background-repeat: no-repeat;
      background-image: url("../img/girl-on-window.png");
      margin: auto; }
  .tagline__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 100%;
    z-index: 5;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .tagline__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tagline__title img {
      width: var(--emmalustWi);
      height: auto; }
  .tagline__text {
    width: var(--taglineTextWi);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: var(--fsH2);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-align: center; }

@media (max-width: 630px) {
  .tagline__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tagline__wrapper::after {
      background-size: var(--bgWondowWi) auto;
      background-position: top 20px center;
      background-repeat: no-repeat;
      opacity: 0.15; }
  .tagline__title {
    margin: 40px auto 5px; } }

@media (max-width: 495px) {
  .tagline {
    padding: var(--firstBlockPaddingTB) 5%; } }

.in-work {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 1;
  position: relative;
  padding: 0px;
  padding-top: var(--section2PaddingTB);
  padding-bottom: calc(var(--section2PaddingTB) / 2);
  overflow: hidden; }
  .in-work::after, .in-work::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute; }
  .in-work::after {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url("../img/sepia-list-bg.png"); }
  .in-work::before {
    z-index: -1;
    background-color: #240e04; }
  .in-work__base-title {
    position: relative; }
  .in-work__wrapper {
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    position: relative;
    margin: auto; }
  .in-work__text-container {
    width: var(--containerText2sectWi);
    height: 100%; }
  .in-work__title, .in-work__subtitle, .in-work__text {
    margin-bottom: var(--marginTextCont2sect);
    text-align: center; }
  .in-work__title {
    font-size: var(--fsH3);
    font-weight: 600;
    line-height: calc(var(--fsH3) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .in-work__subtitle {
    font-size: var(--fsH4);
    font-weight: 600;
    line-height: calc(var(--fsH4) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .in-work__text {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-align: start; }
  .in-work__btn::after {
    content: 'Приобрести книгу'; }
  .in-work__book-container {
    width: var(--containerBook2sectWi);
    height: var(--containerBook2sectHe);
    position: relative;
    right: var(--rigtBookShift); }
    .in-work__book-container::after {
      width: var(--containerBook2sectWi);
      height: var(--containerBook2sectHe);
      top: 34%;
      left: 11%;
      content: '';
      position: absolute;
      -webkit-box-shadow: 50px -100px 50px 90px #000000ec;
      box-shadow: 50px -100px 50px 90px #000000ec;
      background-color: #000000ec;
      -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.6, 1.5, 0, 3, 7, 6);
      transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.6, 1.5, 0, 3, 7, 6); }
  .in-work__cover {
    width: var(--coverBook2sectWi);
    height: var(--coverBook2sectHe);
    top: 0;
    left: 0;
    z-index: 5;
    position: absolute;
    -webkit-clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: matrix(1.15, 0.2, 0, 1, 4, 6) rotateY(30deg);
    transform: matrix(1.15, 0.2, 0, 1, 4, 6) rotateY(30deg);
    /*
       
        
        //rotateY(30deg) skew(10deg, 0deg);*/ }
    .in-work__cover img {
      width: 100%;
      height: 100%; }
  .in-work__book {
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    z-index: 3;
    position: absolute; }
    .in-work__book img {
      width: 100%;
      height: 100%; }

@media (max-width: 930px) {
  .in-work__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .in-work__text-container {
    width: 90%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .in-work__book-container {
    right: unset;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (max-width: 530px) {
  .in-work__book-container::after {
    top: 34%;
    left: 1%; } }

@media (max-width: 375px) {
  .in-work {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .in-work__book-container::after {
      top: 34%;
      left: 2%;
      -webkit-box-shadow: 50px -100px 50px 90px #000000ec;
      box-shadow: 50px -100px 50px 90px #000000ec;
      -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.46, 1.5, 0, 3, 0, 6);
      transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.46, 1.5, 0, 3, 0, 6); }
    .in-work__cover {
      -webkit-transform: matrix(1.15, 0.2, 0, 1, 2, 4) rotateY(30deg);
      transform: matrix(1.15, 0.2, 0, 1, 2, 4) rotateY(30deg); } }

@media (max-width: 320px) {
  .in-work__book-container::after {
    top: 32%;
    left: -4%;
    -webkit-box-shadow: 50px -100px 50px 90px #000000ec;
    box-shadow: 50px -100px 50px 90px #000000ec;
    -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(3deg) matrix(0.35, 1.5, 0, 2.8, 0, 6);
    transform: rotateX(87deg) rotateY(0deg) rotateZ(3deg) matrix(0.35, 1.5, 0, 2.8, 0, 6); }
  .in-work__cover {
    -webkit-transform: matrix(1.15, 0.2, 0, 1, 0, 1.5) rotateY(30deg);
    transform: matrix(1.15, 0.2, 0, 1, 0, 1.5) rotateY(30deg); } }

.biography {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  padding: var(--paddingSect3TopBot) 0;
  background-color: #1d241f;
  overflow: hidden; }
  .biography__wrapper {
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto; }
  .biography__base-title {
    display: -ms-grid;
    display: grid;
    width: 100%;
    font-size: var(--fs2sectTitle);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .biography__container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: 'photo text1' 'nul btn';
    -ms-grid-columns: var(--photoSect3Wi) auto -webkit-max-content;
    -ms-grid-columns: var(--photoSect3Wi) auto max-content;
    grid-template-columns: var(--photoSect3Wi) -webkit-max-content;
    grid-template-columns: var(--photoSect3Wi) max-content;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    row-gap: 20px;
    -webkit-column-gap: auto;
    column-gap: auto; }
  .biography__photo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: photo; }
  .biography__photo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
    /*
    &::after {
      @include wiHe(var(--bgPhotoSect3Wi), var(--bgPhotoSect3He));
      @include leTo(
        -30px,
        calc(var(--photoSect3Wi) / -3.5)
      ); //calc(var( --bgPhotoSect3Hei)/-1.5)
      @include bgImg;
      z-index: -1;
      content: '';
      position: absolute;
      background-image: url('../img/bg-photo.png');
    }*/ }
    .biography__photo img {
      width: var(--photoSect3Wi);
      height: auto; }
  .biography__text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    width: 50vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-area: text1; }
  .biography__title {
    font-size: var(--fsH3);
    font-weight: 600;
    line-height: calc(var(--fsH3) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 10px;
    text-align: center; }
  .biography__text {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .biography__line {
    width: var(--lineSect3Wi);
    height: 4px;
    background-color: #e2c68e;
    margin: 20px 0; }
  .biography__btn {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    display: -ms-grid;
    display: grid;
    grid-area: btn;
    background-color: #e2c68e; }
  .biography__container > .biography__btn {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1; }
  @media (max-width: 495px){
  .biography__btn {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }
    .biography__btn::after {
      content: 'Подробнее'; }

@media (max-width: 770px) {
  .biography__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: 'photo' 'text1' 'btn';
    -ms-grid-columns: 90vw;
    grid-template-columns: 90vw;
    -ms-grid-rows: max-content 0px max-content 0px max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content max-content;
    row-gap: 0px; }
  .biography__photo-wrapper {
    width: 90vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .biography__photo {
    margin-bottom: calc(var(--photoSect3Wi) / 4); }
  .biography__text-container {
    width: 90vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .biography__line {
    width: var(--lineSect3Wi);
    height: 4px;
    background-color: #e2c68e;
    margin: 30px auto 20px; }
  .biography__container > .popup-form__btn-container {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .biography__photo-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .biography__text-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .biography__container > .biography__btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

@media (max-width: 270px) {
  .biography__photo::after {
    top: -15px;
    left: calc(var(--photoSect3Wi) / -3.5); } }

.wrapper-slider {
  padding: var(--paddingSect3TopBot) 0;
  min-height: 100%;
  background-color: #fff3d2; }
  .wrapper-slider .image-slider {
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0px 0px 70px 0px; }
    .wrapper-slider .image-slider__slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .wrapper-slider .image-slider__slide .slide-title {
        font-size: var(--fsH4);
        font-weight: 600;
        line-height: calc(var(--fsH4) * 1.5);
        color: #1d241f;
        font-style: normal;
        font-family: Georgia, sans-serif; }
    .wrapper-slider .image-slider__image {
      text-align: center;
      min-width: var(--sliderImgWi) !important; }
      .wrapper-slider .image-slider__image img {
        max-width: 100%; }
    .wrapper-slider .image-slider .swiper-slide-next,
    .wrapper-slider .image-slider .swiper-slide-prev {
      opacity: 0.7; }
    .wrapper-slider .image-slider .swiper-slide-active:hover > .slide-title {
      text-shadow: 0 -1px 1px #cccccc, 0 -1px 1px #cccccc, 0 1px 1px #cccccc, 0 1px 1px #cccccc, -1px 0 1px #cccccc, 1px 0 1px #cccccc, -1px 0 1px #cccccc, 1px 0 1px #cccccc, -1px -1px 1px #cccccc, 1px -1px 1px #cccccc, -1px 1px 1px #cccccc, 1px 1px 1px #cccccc, -1px -1px 1px #cccccc, 1px -1px 1px #cccccc, -1px 1px 1px #cccccc, 1px 1px 1px #cccccc;
      color: #000000; }

/*стрелки*/
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #253229;
  font-size: 50px;
  font-weight: bold; }

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: #240e04;
  text-shadow: 0 -1px 1px #cccccc, 0 -1px 1px #cccccc, 0 1px 1px #cccccc, 0 1px 1px #cccccc, -1px 0 1px #cccccc, 1px 0 1px #cccccc, -1px 0 1px #cccccc, 1px 0 1px #cccccc, -1px -1px 1px #cccccc, 1px -1px 1px #cccccc, -1px 1px 1px #cccccc, 1px 1px 1px #cccccc, -1px -1px 1px #cccccc, 1px -1px 1px #cccccc, -1px 1px 1px #cccccc, 1px 1px 1px #cccccc; }

/*БУЛЛЕТЫ*/
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 10px !important;
  line-height: 20px;
  font-size: 14px;
  background-color: #253229; }

@media (max-width: 840px) {
  .wrapper-slider .image-slider {
    padding: 0px 0px 30px 0px; }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    text-shadow: 0 -2px 2px #ffffff, 0 -2px 2px #ffffff, 0 2px 2px #ffffff, 0 2px 2px #ffffff, -2px 0 2px #ffffff, 2px 0 2px #ffffff, -2px 0 2px #ffffff, 2px 0 2px #ffffff, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px 2px 2px #ffffff, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px 2px 2px #ffffff; }
  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    text-shadow: 0 -2px 2px #ffffff, 0 -2px 2px #ffffff, 0 2px 2px #ffffff, 0 2px 2px #ffffff, -2px 0 2px #ffffff, 2px 0 2px #ffffff, -2px 0 2px #ffffff, 2px 0 2px #ffffff, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px 2px 2px #ffffff, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff, 2px 2px 2px #ffffff; } }

.blog {
  padding: var(--paddingSect3TopBot) 0;
  min-height: 100%;
  background-color: #240e04; }
  .blog__wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto; }
  .blog__base-title {
    font-size: var(--fs2sectTitle);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .blog__container-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .blog__post {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    background-image: url("../../img/paper.jpg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    width: 25vw;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin: 0px 10px 70px 10px;
    padding: 25px 15px 80px 35px;
    border-radius: 2px 7px 7px 2px;
    -webkit-box-shadow: 0px 0 40px 10px #000000;
    box-shadow: 0px 0 40px 10px #000000; }

.post__title {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: var(--fsH4);
  font-weight: 600;
  line-height: calc(var(--fsH4) * 1.5);
  color: #253229;
  font-style: normal;
  font-family: Georgia, sans-serif;
  text-align: center;
  margin-bottom: 15px; }

.post__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(var(--fsP) * 1.1);
  font-weight: 300;
  line-height: calc(var(--fsP) * 1.5);
  color: #000000;
  font-style: normal;
  font-family: Georgia, sans-serif;
  min-height: 50%; }

.post__data {
  position: absolute;
  right: 15px;
  bottom: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: var(--fsP);
  font-weight: 300;
  line-height: calc(var(--fsP) * 1.5);
  color: #253229;
  font-style: normal;
  font-family: Georgia, sans-serif;
  text-align: end; }

@media (max-width: 1250px) {
  .blog__post {
    width: 35vw; }
  .post-3 {
    width: 55vw; } }

@media (max-width: 700px) {
  .blog__post {
    min-width: 120px;
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0px 20px 30px 20px;
    padding: 20px 15px 80px 15px; } }

@media (max-width: 1430px) {
  :root {
    --emmalustWi: 600px;
    --taglineTextWi: 100%; } }

@media (max-width: 1255px) {
  :root {
    --bgWondowWi: 40vw;
    --firstBlockPaddingTB: 0px;
    --firstBlockHe: 50vw;
    --emmalustWi: 47vw;
    --sliderImgWi: 430px; } }

@media (max-width: 1024px) {
  :root {
    --bgWondowWi: 35vw;
    --firstBlockHe: 44vw;
    --emmalustWi: 50vw;
    --section2PaddingTB: 150px;
    --marginTextCont2sect: 15px;
    --containerBook2sectWi: 280px;
    --sliderImgWi: 350px; } }

@media (max-width: 840px) {
  :root {
    --sliderImgWi: 450px; } }

@media (max-width: 770px) {
  :root {
    --emmalustWi: 47vw;
    --section2PaddingTB: 130px;
    --containerBook2sectWi: 250px;
    --paddingSect3TopBot: 70px;
    --photoSect3Wi: 240px;
    --marginLeftPhotoSect3: 60px;
    --lineSect3Wi: 200px; } }

@media (max-width: 630px) {
  :root {
    --firstBlockHe: 55vw;
    --bgWondowWi: 60vw;
    --emmalustWi: 80vw; } }

@media (max-width: 530px) {
  :root {
    --firstBlockHe: 57vw;
    --containerBook2sectWi: 200px;
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.855
    ); } }

@media (max-width: 495px) {
  :root {
    --firstBlockHe: 60vw;
    --emmalustWi: 90vw;
    --sliderImgWi: 300px; } }

@media (max-width: 375px) {
  :root {
    --firstBlockHe: 60vw;
    --marginTextCont2sect: 10px;
    --containerBook2sectWi: 120px;
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.855
    );
    --paddingSect3TopBot: 50px;
    --photoSect3Wi: 150px;
    --lineSect3Wi: 70%; } }

@media (max-width: 320px) {
  :root {
    --firstBlockHe: 60vw;
    --section2PaddingTB: 90px;
    --marginTextCont2sect: 5px;
    --containerBook2sectWi: 80px;
    --coverBook2sectWi: calc(
      var(--containerBook2sectWi) * 0.872
    ); } }

@media (max-width: 270px) {
  :root {
    --firstBlockHe: 80vw;
    --paddingSect3TopBot: 40px;
    --photoSect3Wi: 100px;
    --sliderImgWi: 250px; } }
