* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*-----*/
:root {
  --fsMenuHeadBtn: 30px;
  --fsMenuHead: 32px;
  --fsH2: 44px;
  --fsH3: 36px;
  --fsH4: 24px;
  --fsH5: 18px;
  --fsP: 16px;
  --contentWidh: 95%;
  --menuGapHead: 80px;
  --logoHedHe: 100px;
  --firstBlokHe: 901px;
  --padTopText1Block: 99px;
  --firstBlockBtnWi: 270px;
  --firstBlockBtnHe: 100px;
  --timetableHe: 808px;
  --squareWi: 471px;
  --squareHe: 501px;
  --photoSquareWi: 323px;
  --photoSquareHe: 486px;
  --botPadSect5: 235px;
  --galleryImgHe: 646px;
  --galleryImgWi: calc( var(--galleryImgHe) * 1.5);
  --padTop6Block: 101px; }

@media (max-width: 1430px) {
  :root {
    --menuGapHead: 50px;
    --logoHedHe: 70px; } }

@media (max-width: 1255px) {
  :root {
    --fsMenuHead: 26px;
    --menuGapHead: 40px;
    --logoHedHe: 60px; } }

@media (max-width: 1024px) {
  :root {
    --fsMenuHead: 20px;
    --menuGapHead: 30px;
    --logoHedHe: 50px; } }

@media (max-width: 770px) {
  :root {
    --fsMenuHead: 17px;
    --menuGapHead: 20px;
    --logoHedHe: 40px; } }

@media (max-width: 630px) {
  :root {
    --contentWidh: 100%;
    --fsMenuHead: 16px;
    --menuGapHead: 30px;
    --logoHedHe: 40px; } }

@media (max-width: 530px) {
  :root {
    --fsMenuHead: 18px;
    --logoHedHe: 40px; } }

/*----HEADER-----*/
.header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 50;
  position: relative;
  background-color: #253229;
  padding: 10px 0; }
  .header .container {
    width: var(--contentWidh);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
    position: relative; }
  .header__logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .header__logo img {
      width: auto;
      height: var(--logoHedHe); }
    .header__logo:hover img {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__menu ul {
    width: 100%;
    height: var(--logoHedHe);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--menuGapHead); }
  .header__link {
    font-size: var(--fsMenuHead);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: LobsterRegular, MarckScriptRegular, PacificoRegular, sans-serif; }
    .header__link:hover {
      color: #E2C68E; }
  .header__form img {
    width: auto;
    height: var(--logoHedHe); }
  .header__form:hover img {
    -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
    filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__btn-navigation-menu {
    display: none; }

.active-menu {
  color: #646464 !important; }
  .active-menu:hover {
    color: unset;
    cursor: no-drop; }

@media (max-width: 630px) {
  .header .container {
    margin: 0px;
    padding: 0 5%; }
  .header__btn-navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fsMenuHeadBtn);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: LobsterRegular, MarckScriptRegular, PacificoRegular, sans-serif; }
    .header__btn-navigation-menu:hover {
      color: #E2C68E; }
  .header__menu {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: -1000%;
    left: 0;
    position: absolute;
    background-color: #253229;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__menu.active-block-menu {
      top: 110%; }
    .header__menu ul {
      height: var(--logoHedHe);
      margin: 10px 0px; } }

@media (max-width: 530px) {
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 20px; }
    .header__menu ul .link {
      text-align: center;
      width: 28%; } }

@media (max-width: 530px) {
  .header__menu ul {
    row-gap: 20px; }
    .header__menu ul .link {
      text-align: center;
      width: 90%; } }

body {
  background: #646464; }

.lock {
  overflow: hidden; }
