@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*-----*/
:root {
  --fsMenuHeadBtn: 30px;
  --fsMenuHead: 32px;
  --fsH2: 56px;
  --fsH3: 48px;
  --fsH4: 30px;
  --fsH5: 26px;
  --fsP: 22px;
  --contentWidh: 95%;
  --marginTopBtnSect2: 100px;
  --menuGapHead: 80px;
  --logoHedHe: 100px;
  --bgWondowWi: 550px;
  --firstBlockPaddingTB: 70px;
  --firstBlockHe: 700px;
  --emmalustWi: 53vw;
  --taglineTextWi: 74%;
  --section2PaddingTB: 200px;
  --fs2sectTitle: 72px;
  --containerText2sectWi: 45%;
  --marginTextCont2sect: 30px;
  --rigtBookShift: 50px;
  --containerBook2sectWi: 323px;
  --containerBook2sectHe: calc(var(--containerBook2sectWi)*1.51);
  --coverBook2sectWi: calc(var(--containerBook2sectWi)*0.8669);
  --coverBook2sectHe: calc(var( --coverBook2sectWi)*1.7);
  --btnSect2Wi: 300px;
  --btnSect2He: 50px;
  --paddingSect3TopBot: 100px;
  --photoSect3Wi: 300px;
  --marginLeftPhotoSect3: 80px;
  --bgPhotoSect3Wi: calc(var(--photoSect3Wi)*1.5);
  --bgPhotoSect3He: calc(var(--photoSect3Wi)*1.65);
  --lineSect3Wi: 300px; }

@media (max-width: 1430px) {
  :root {
    --menuGapHead: 50px;
    --logoHedHe: 70px;
    --emmalustWi: 600px;
    --taglineTextWi: 100%; } }

@media (max-width: 1255px) {
  :root {
    --fsH2: 46px;
    --fsMenuHead: 26px;
    --menuGapHead: 40px;
    --logoHedHe: 60px;
    --bgWondowWi: 40vw;
    --firstBlockPaddingTB: 0px;
    --firstBlockHe: 50vw;
    --emmalustWi: 47vw; } }

@media (max-width: 1024px) {
  :root {
    --fsH2: 40px;
    --fsP: 20px;
    --marginTopBtnSect2: 50px;
    --fsMenuHead: 20px;
    --menuGapHead: 30px;
    --logoHedHe: 50px;
    --bgWondowWi: 35vw;
    --firstBlockHe: 44vw;
    --emmalustWi: 50vw;
    --section2PaddingTB: 150px;
    --fs2sectTitle: 62px;
    --marginTextCont2sect: 15px;
    --containerBook2sectWi: 280px;
    --btnSect2Wi: 250px; } }

@media (max-width: 930px) {
  :root {
    --fsH2: 32px;
    --fsH3: 46px;
    --fsH4: 28px;
    --rigtBookShift: 10px;
    --paddingSect3TopBot: 70px;
    --photoSect3Wi: 240px;
    --marginLeftPhotoSect3: 60px;
    --lineSect3Wi: 200px; } }

@media (max-width: 770px) {
  :root {
    --fsH2: 26px;
    --fsMenuHead: 17px;
    --menuGapHead: 20px;
    --logoHedHe: 40px;
    --emmalustWi: 47vw;
    --section2PaddingTB: 130px;
    --fs2sectTitle: 56px;
    --containerBook2sectWi: 250px;
    --paddingSect3TopBot: 70px;
    --photoSect3Wi: 240px;
    --marginLeftPhotoSect3: 60px;
    --lineSect3Wi: 200px; } }

@media (max-width: 630px) {
  :root {
    --fsH2: 29px;
    --contentWidh: 100%;
    --fsMenuHead: 16px;
    --menuGapHead: 30px;
    --logoHedHe: 40px;
    --firstBlockHe: 55vw;
    --bgWondowWi: 60vw;
    --emmalustWi: 80vw; } }

@media (max-width: 530px) {
  :root {
    --fsH2: 30px;
    --fsH3: 42px;
    --fsH4: 26px;
    --fsP: 18px;
    --fsMenuHead: 18px;
    --logoHedHe: 40px;
    --firstBlockHe: 57vw;
    --fs2sectTitle: 52px;
    --containerBook2sectWi: 200px;
    --coverBook2sectWi: calc(var(--containerBook2sectWi)*0.855); } }

@media (max-width: 495px) {
  :root {
    --fsH2: 28px;
    --firstBlockHe: 60vw;
    --emmalustWi: 90vw; } }

@media (max-width: 375px) {
  :root {
    --fsH2: 24px;
    --fsH3: 38px;
    --fsH4: 22px;
    --fsP: 16px;
    --marginTopBtnSect2: 40px;
    --firstBlockHe: 60vw;
    --fs2sectTitle: 42px;
    --marginTextCont2sect: 10px;
    --containerBook2sectWi: 120px;
    --coverBook2sectWi: calc(var(--containerBook2sectWi)*0.855);
    --paddingSect3TopBot: 50px;
    --photoSect3Wi: 150px;
    --lineSect3Wi: 70%; } }

@media (max-width: 320px) {
  :root {
    --fsH2: 20px;
    --fsH3: 28px;
    --fsH4: 19px;
    --fsH5: 18px;
    --fsP: 14px;
    --firstBlockHe: 60vw;
    --section2PaddingTB: 90px;
    --fs2sectTitle: 32px;
    --marginTextCont2sect: 5px;
    --containerBook2sectWi: 80px;
    --coverBook2sectWi: calc(var(--containerBook2sectWi)*0.872);
    --btnSect2Wi: 180px;
    --btnSect2He: 50px; } }

@media (max-width: 270px) {
  :root {
    --fsH2: 18px;
    --firstBlockHe: 80vw;
    --paddingSect3TopBot: 40px;
    --photoSect3Wi: 100px; } }

/*----HEADER-----*/
.header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 50;
  position: relative;
  background-color: #253229;
  padding: 10px 0; }
  .header .container {
    width: var(--contentWidh);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
    position: relative; }
  .header__logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .header__logo img {
      width: auto;
      height: var(--logoHedHe); }
    .header__logo:hover img {
      -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
      filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__menu ul {
    width: 100%;
    height: var(--logoHedHe);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--menuGapHead); }
  .header__link {
    font-size: var(--fsMenuHead);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
    .header__link:hover {
      color: #E2C68E; }
  .header__form img {
    width: auto;
    height: var(--logoHedHe); }
  .header__form:hover img {
    -webkit-filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%);
    filter: sepia(26%) saturate(3521%) hue-rotate(321deg) brightness(95%) contrast(85%); }
  .header__btn-navigation-menu {
    display: none; }

.active-menu {
  color: #646464 !important; }
  .active-menu:hover {
    color: unset;
    cursor: no-drop; }

@media (max-width: 630px) {
  .header .container {
    margin: 0px;
    padding: 0 5%; }
  .header__btn-navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--fsMenuHeadBtn);
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
    .header__btn-navigation-menu:hover {
      color: #E2C68E; }
  .header__menu {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: -1000%;
    left: 0;
    position: absolute;
    background-color: #253229;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__menu.active-block-menu {
      top: 110%; }
    .header__menu ul {
      height: var(--logoHedHe);
      margin: 10px 0px; } }

@media (max-width: 530px) {
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 20px; }
    .header__menu ul .link {
      text-align: center;
      width: 28%; } }

@media (max-width: 530px) {
  .header__menu ul {
    row-gap: 20px; }
    .header__menu ul .link {
      text-align: center;
      width: 90%; } }

body {
  background: #646464; }

.lock {
  overflow: hidden; }

.content-btn {
  width: var(--btnSect2Wi);
  height: var(--btnSect2He);
  z-index: 4;
  position: relative;
  left: 50%;
  margin-top: var(--marginTopBtnSect2);
  margin-left: calc(var(--btnSect2Wi)/-2);
  background-color: #808080;
  border-radius: 10px; }
  .content-btn::after {
    font-size: var(--fsH5);
    font-weight: 300;
    line-height: calc(var(--fsH5) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    width: var(--btnSect2Wi);
    height: var(--btnSect2He);
    top: -4px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    background-color: #240E04;
    border-radius: 10px; }
  .content-btn:hover::after {
    color: #E2C68E; }
  .content-btn:active::after {
    top: 0;
    left: 0; }

.tagline {
  width: 100%;
  height: var(--firstBlockHe);
  background-color: #240E04;
  padding: var(--firstBlockPaddingTB) 0; }
  .tagline h1 {
    display: none; }
  .tagline__wrapper {
    width: var(--contentWidh);
    height: 100%;
    margin: auto;
    position: relative; }
    .tagline__wrapper::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: var(--bgWondowWi) auto;
      background-position: center right 0;
      background-repeat: no-repeat;
      background-image: url("../img/girl-on-window.png");
      margin: auto; }
  .tagline__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 100%;
    z-index: 5;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .tagline__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tagline__title img {
      width: var(--emmalustWi);
      height: auto; }
  .tagline__text {
    width: var(--taglineTextWi);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: var(--fsH2);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-align: center; }

@media (max-width: 630px) {
  .tagline__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tagline__wrapper::after {
      background-size: var(--bgWondowWi) auto;
      background-position: top 20px center;
      background-repeat: no-repeat;
      opacity: 0.15; }
  .tagline__title {
    margin: 40px auto 5px; } }

@media (max-width: 495px) {
  .tagline {
    padding: var(--firstBlockPaddingTB) 5%; } }

.in-work {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 1;
  position: relative;
  padding: 0px;
  padding-top: var(--section2PaddingTB);
  padding-bottom: calc(var(--section2PaddingTB)/2);
  overflow: hidden; }
  .in-work::after, .in-work::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute; }
  .in-work::after {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url("../img/sepia-list-bg.png"); }
  .in-work::before {
    z-index: -1;
    background-color: #240E04; }
  .in-work__base-title {
    z-index: 5;
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: var(--fs2sectTitle);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 50px;
    text-align: center; }
  .in-work__wrapper {
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
    position: relative;
    margin: auto; }
  .in-work__text-container {
    width: var(--containerText2sectWi);
    height: 100%; }
  .in-work__title, .in-work__subtitle, .in-work__text {
    margin-bottom: var(--marginTextCont2sect);
    text-align: center; }
  .in-work__title {
    font-size: var(--fsH3);
    font-weight: 600;
    line-height: calc(var(--fsH3) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .in-work__subtitle {
    font-size: var(--fsH4);
    font-weight: 600;
    line-height: calc(var(--fsH4) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .in-work__text {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #000000;
    font-style: normal;
    font-family: Georgia, sans-serif;
    text-align: start; }
  .in-work__btn::after {
    content: 'Перейти к книге >'; }
  .in-work__book-container {
    width: var(--containerBook2sectWi);
    height: var(--containerBook2sectHe);
    position: relative;
    right: var(--rigtBookShift); }
    .in-work__book-container::after {
      width: var(--containerBook2sectWi);
      height: var(--containerBook2sectHe);
      top: 34%;
      left: 11%;
      content: '';
      position: absolute;
      -webkit-box-shadow: 50px -100px 50px 90px #000000a4;
      box-shadow: 50px -100px 50px 90px #000000a4;
      background-color: #000000a4;
      -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.6, 1.5, 0, 3, 7, 6);
      transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.6, 1.5, 0, 3, 7, 6); }
  .in-work__cover {
    width: var(--coverBook2sectWi);
    height: var(--coverBook2sectHe);
    top: 0;
    left: 0;
    z-index: 5;
    position: absolute;
    -webkit-clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: matrix(1.15, 0.2, 0, 1, 4, 6) rotateY(30deg);
    transform: matrix(1.15, 0.2, 0, 1, 4, 6) rotateY(30deg);
    /*
       
        
        //rotateY(30deg) skew(10deg, 0deg);*/ }
    .in-work__cover img {
      width: 100%;
      height: 100%; }
  .in-work__book {
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    z-index: 3;
    position: absolute; }
    .in-work__book img {
      width: 100%;
      height: 100%; }

@media (max-width: 770px) {
  .in-work__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .in-work__text-container {
    width: 90%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .in-work__book-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (max-width: 530px) {
  .in-work__book-container::after {
    top: 34%;
    left: 1%; } }

@media (max-width: 375px) {
  .in-work {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
    .in-work__base-title {
      margin-bottom: 30px; }
    .in-work__book-container::after {
      top: 34%;
      left: 2%;
      -webkit-box-shadow: 50px -100px 50px 90px #000000a4;
      box-shadow: 50px -100px 50px 90px #000000a4;
      -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.46, 1.5, 0, 3, 0, 6);
      transform: rotateX(87deg) rotateY(0deg) rotateZ(5deg) matrix(0.46, 1.5, 0, 3, 0, 6); }
    .in-work__cover {
      -webkit-transform: matrix(1.15, 0.2, 0, 1, 2, 4) rotateY(30deg);
      transform: matrix(1.15, 0.2, 0, 1, 2, 4) rotateY(30deg); } }

@media (max-width: 320px) {
  .in-work__book-container::after {
    top: 32%;
    left: -4%;
    -webkit-box-shadow: 50px -100px 50px 90px #000000a4;
    box-shadow: 50px -100px 50px 90px #000000a4;
    -webkit-transform: rotateX(87deg) rotateY(0deg) rotateZ(3deg) matrix(0.35, 1.5, 0, 2.8, 0, 6);
    transform: rotateX(87deg) rotateY(0deg) rotateZ(3deg) matrix(0.35, 1.5, 0, 2.8, 0, 6); }
  .in-work__cover {
    -webkit-transform: matrix(1.15, 0.2, 0, 1, 0, 1.5) rotateY(30deg);
    transform: matrix(1.15, 0.2, 0, 1, 0, 1.5) rotateY(30deg); } }

.biography {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  padding: var(--paddingSect3TopBot) 0;
  background-color: #1D241F;
  overflow: hidden; }
  .biography__wrapper {
    width: var(--contentWidh);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto; }
  .biography__base-title {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: var(--fs2sectTitle);
    font-weight: 600;
    line-height: calc(var(--fsH2) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 100px;
    text-align: center; }
  .biography__container {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .biography__photo-wrapper {
    width: 50%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .biography__photo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 5;
    position: relative;
    margin-left: var(--marginLeftPhotoSect3);
    -webkit-filter: sepia(50%);
    filter: sepia(50%); }
    .biography__photo img {
      width: var(--photoSect3Wi);
      height: auto; }
    .biography__photo::after {
      width: var(--bgPhotoSect3Wi);
      height: var(--bgPhotoSect3He);
      top: -30px;
      left: calc(var(--photoSect3Wi)/-3.5);
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      content: '';
      position: absolute;
      background-image: url("../img/bg-photo.png"); }
  .biography__text-container {
    width: 50%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .biography__title {
    font-size: var(--fsH3);
    font-weight: 600;
    line-height: calc(var(--fsH3) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif;
    margin-bottom: 10px;
    text-align: center; }
  .biography__text {
    font-size: var(--fsP);
    font-weight: 300;
    line-height: calc(var(--fsP) * 1.5);
    color: #ffffff;
    font-style: normal;
    font-family: Georgia, sans-serif; }
  .biography__line {
    width: var(--lineSect3Wi);
    height: 4px;
    background-color: #E2C68E;
    margin: 20px 0; }
  .biography__btn {
    background-color: #E2C68E; }
    .biography__btn::after {
      content: 'Подробнее >'; }

@media (max-width: 770px) {
  .biography__base-title {
    margin-bottom: 70px; }
  .biography__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .biography__photo {
    margin-left: 0;
    margin-bottom: calc(var(--photoSect3Wi)/4); }
  .biography__text-container {
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .biography__line {
    width: var(--lineSect3Wi);
    height: 4px;
    background-color: #E2C68E;
    margin: 30px auto 20px; } }
