//------------------------ПЕРЕМЕННЫЕ---------------------------------------------
//-цвета-
$blackColor: #000000;
$blackColorOpacity: #000000ec;
$blackColorOpacity2: rgba(0, 0, 0, 0.964);
$darkGrayColor: #646464;
$grayColor: #808080;
$smokeColor: #cccccc;
$whiteColor: #ffffff;
$redColor: red;
$redLightColor: rgb(255, 90, 90);
//
$emeraldColor: #253229;
$emeraldDarkColor: #1d241f;
$emeraldDarkColor2: #041308;
$DarkRedColor: #240e04;
$DarkRedColor2: #160603;
$yellowBrownColor: #885a34;
$sandColor: #fff3d2;
$skinColor: #e2c68e;
$skinColorOpacity: #e2c68ed1;
//
//----------
//------шрифты--------
@font-face {
  font-family: LobsterRegular;
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
  src: url('../fonts/Lobster-Regular.ttf') format('embedded-opentype');
  src: url('../fonts/Lobster-Regular.ttf') format('woff');
  src: url('../fonts/Lobster-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: MarckScriptRegular;
  src: url('../fonts/MarckScript-Regular.ttf') format('truetype');
  src: url('../fonts/MarckScript-Regular.ttf') format('embedded-opentype');
  src: url('../fonts/MarckScript-Regular.ttf') format('woff');
  src: url('../fonts/MarckScript-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: PacificoRegular;
  src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
  src: url('../fonts/Pacifico-Regular.ttf') format('embedded-opentype');
  src: url('../fonts/Pacifico-Regular.ttf') format('woff');
  src: url('../fonts/Pacifico-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: RubikRegular;
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  src: url('../fonts/Rubik-Regular.ttf') format('embedded-opentype');
  src: url('../fonts/Rubik-Regular.ttf') format('woff');
  src: url('../fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

$fontFamily: sans-serif;
$fontFamily: sans-serif;
$fontFamilyGeorgia: Georgia, sans-serif;
$fontFamilyItalic: LobsterRegular, MarckScriptRegular, PacificoRegular,
  RubikRegular, sans-serif;
//-------------ПЕРЕМЕННЫЕ--изменяемые--pазмеры----------------------------------------
:root {
  //--------размеры шрифтов
  --fsH2: 42px; //заголовки h2
  --fsH3: 38px; //Заголовки h3
  --fsH4: 32px; //Заголовки h4
  --fsH5: 28px; //Заголовки h5
  --fsP: 24px; //текст и блоки P
}

//--------------------------------------------------------------
//----------------------------миксины----------------------------
//ширина и высота элемента
@mixin wiHe($wi: 100%, $he: 100%) {
  width: $wi;
  height: $he;
}

//позиционирование
@mixin leTo($top: 0, $left: 0) {
  top: $top;
  left: $left;
}

@mixin riTo($top: 0, $right: 0) {
  top: $top;
  right: $right;
}

@mixin riBo($bottom: 0, $right: 0) {
  bottom: $bottom;
  right: $right;
}

@mixin leBo($bottom: 0, $left: 0) {
  bottom: $bottom;
  left: $left;
}

//вставка изображения как фона(без ссылки на изображение)
@mixin bgImg($bgImSize: 100% 100%, $bgPosition: center, $bgRepeat: no-repeat) {
  background-size: $bgImSize;
  background-position: $bgPosition;
  background-repeat: $bgRepeat;
}

//флекс элемент по центру
@mixin flCent($jusCon: center, $alIt: center) {
  display: flex;
  justify-content: $jusCon;
  align-items: $alIt;
}

//флекс элемент слева снизу
@mixin flStartCen($jusCon: start, $alIt: center) {
  display: flex;
  justify-content: $jusCon;
  align-items: $alIt;
}

//флекс элемент: по вертикали центр, горизонтально - разнесено по краям
@mixin flexSpBeCent($jusCon: space-between, $alIt: center) {
  display: flex;
  justify-content: $jusCon;
  align-items: $alIt;
}

//флекс элемент: по вертикали центр, горизонтально - делят свободное место между собой поровну
@mixin flSpArrCen($jusCon: space-around, $alIt: center) {
  display: flex;
  justify-content: $jusCon;
  align-items: $alIt;
}

//грид элемент: по вертикали центр, горизонтально - разнесено по краям
@mixin gridSpBeCent($jusCon: space-between, $alIt: center) {
  display: grid;
  justify-content: $jusCon;
  align-items: $alIt;
}

//грид центр
@mixin gridCent($jusCon: center, $alIt: center) {
  display: grid;
  justify-content: $jusCon;
  align-items: $alIt;
}

//обводка текста
@mixin textBorderWhite {
  text-shadow: -0 -2px 2px $whiteColor, 0 -2px 2px $whiteColor,
    -0 2px 2px $whiteColor, 0 2px 2px $whiteColor, -2px -0 2px $whiteColor,
    2px -0 2px $whiteColor, -2px 0 2px $whiteColor, 2px 0 2px $whiteColor,
    -2px -2px 2px $whiteColor, 2px -2px 2px $whiteColor,
    -2px 2px 2px $whiteColor, 2px 2px 2px $whiteColor, -2px -2px 2px $whiteColor,
    2px -2px 2px $whiteColor, -2px 2px 2px $whiteColor, 2px 2px 2px $whiteColor;
}

@mixin textBorderSmokeColor {
  text-shadow: -0 -1px 1px $smokeColor, 0 -1px 1px $smokeColor,
    -0 1px 1px $smokeColor, 0 1px 1px $smokeColor, -1px -0 1px $smokeColor,
    1px -0 1px $smokeColor, -1px 0 1px $smokeColor, 1px 0 1px $smokeColor,
    -1px -1px 1px $smokeColor, 1px -1px 1px $smokeColor,
    -1px 1px 1px $smokeColor, 1px 1px 1px $smokeColor, -1px -1px 1px $smokeColor,
    1px -1px 1px $smokeColor, -1px 1px 1px $smokeColor, 1px 1px 1px $smokeColor;
}

@mixin textBorderGold {
  text-shadow: -0 -1px 1px $skinColor, 0 -1px 1px $skinColor,
    -0 1px 1px $skinColor, 0 1px 1px $skinColor, -1px -0 1px $skinColor,
    1px -0 1px $skinColor, -1px 0 1px $skinColor, 1px 0 1px $skinColor,
    -1px -1px 1px $skinColor, 1px -1px 1px $skinColor, -1px 1px 1px $skinColor,
    1px 1px 1px $skinColor, -1px -1px 1px $skinColor, 1px -1px 1px $skinColor,
    -1px 1px 1px $skinColor, 1px 1px 1px $skinColor;
}

@mixin textBorderBlack {
  text-shadow: -0 -1px 1px $blackColor, 0 -1px 1px $blackColor,
    -0 1px 1px $blackColor, 0 1px 1px $blackColor, -1px -0 1px $blackColor,
    1px -0 1px $blackColor, -1px 0 1px $blackColor, 1px 0 1px $blackColor,
    -1px -1px 1px $blackColor, 1px -1px 1px $blackColor,
    -1px 1px 1px $blackColor, 1px 1px 1px $blackColor, -1px -1px 1px $blackColor,
    1px -1px 1px $blackColor, -1px 1px 1px $blackColor, 1px 1px 1px $blackColor;
}

@mixin textBorderBlack2px {
  text-shadow: -0 -2px 2px $blackColor, 0 -2px 2px $blackColor,
    -0 2px 2px $blackColor, 0 2px 2px $blackColor, -2px -0 2px $blackColor,
    2px -0 2px $blackColor, -2px 0 2px $blackColor, 2px 0 2px $blackColor,
    -2px -2px 2px $blackColor, 2px -2px 2px $blackColor,
    -2px 2px 2px $blackColor, 2px 2px 2px $blackColor, -2px -2px 2px $blackColor,
    2px -2px 2px $blackColor, -2px 2px 2px $blackColor, 2px 2px 2px $blackColor;
}

@mixin textBorderBlackGoldkMix {
  text-shadow: -0 -1px 1px $blackColor, 0 -1px 1px $blackColor,
    -0 1px 1px $blackColor, 0 1px 1px $blackColor, -1px -0 1px $blackColor,
    1px -0 1px $blackColor, -1px 0 1px $blackColor, 1px 0 1px $blackColor,
    -1px -1px 1px $blackColor, 1px -1px 1px $blackColor,
    -1px 1px 1px $blackColor, 1px 1px 1px $blackColor, -1px -1px 1px $blackColor,
    1px -1px 1px $blackColor, -1px 1px 1px $blackColor, 1px 1px 1px $blackColor,
    //
    //
    -0 -2px 2px $skinColor,
    0 -2px 2px $skinColor, -0 2px 2px $skinColor, 0 2px 2px $skinColor,
    -2px -0 2px $skinColor, 2px -0 2px $skinColor, -2px 0 2px $skinColor,
    2px 0 2px $skinColor, -2px -2px 2px $skinColor, 2px -2px 2px $skinColor,
    -2px 2px 2px $skinColor, 2px 2px 2px $skinColor, -2px -2px 2px $skinColor,
    2px -2px 2px $skinColor, -2px 2px 2px $skinColor, 2px 2px 2px $skinColor;
}

//параметры шрифтов
@mixin fontSizeBase(
  $fs: 16px,
  $fWe: 400,
  $liHe: 20px,
  $color: $whiteColor,
  $fontFamily: $fontFamilyGeorgia
) {
  font-size: $fs;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

@mixin fontSizeP(
  $fWe: 300,
  $liHe: calc(var(--fsP) * 1.2),
  $color: $blackColor,
  $fontFamily: $fontFamilyGeorgia,
  $fontSize: var(--fsP)
) {
  font-size: $fontSize;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

@mixin fontSizeH5(
  $fWe: 300,
  $liHe: calc(var(--fsH5) * 1.2),
  $color: $blackColor,
  $fontFamily: $fontFamilyGeorgia,
  $fontSize: var(--fsH5)
) {
  font-size: $fontSize;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

@mixin fontSizeH4(
  $fWe: 600,
  $liHe: calc(var(--fsH4) * 1.2),
  $color: $blackColor,
  $fontFamily: $fontFamilyGeorgia,
  $fontSize: var(--fsH4)
) {
  font-size: $fontSize;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

@mixin fontSizeH3(
  $fWe: 600,
  $liHe: calc(var(--fsH3) * 1.2),
  $color: $blackColor,
  $fontFamily: $fontFamilyGeorgia,
  $fontSize: var(--fsH3)
) {
  font-size: $fontSize;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

@mixin fontSizeH2(
  $fWe: 600,
  $liHe: calc(var(--fsH2) * 1.2),
  $color: $whiteColor,
  $fsH2: var(--fsH2),
  $fontFamily: $fontFamilyGeorgia
) {
  font-size: $fsH2;
  font-weight: $fWe;
  line-height: $liHe;
  color: $color;
  font-style: normal;
  font-family: $fontFamilyGeorgia;
}

//--------------------------------------------------
//
//
//
//
//
//

/*-------------общие стили--------------*/

body {
  background: $emeraldDarkColor2;
  position: relative;
}

h1 {
  @include leTo;
  @include wiHe(1px, 1px);
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 1px !important;
}

/*-----стиль блокировки прокрутки-----*/

.lock {
  overflow: hidden;
}

/*-----СТИЛЬ СКРЫТИЯ-----*/

.not-visible {
  display: none !important;
}

/*-----стилизация кнопок -----*/

/*---стилизация текста в книгах для чтения ---*/

//данные стили добавляются с тегами через js смену контента
//текст по центру
.textCenter {
  text-align: center;
}

.textEnd {
  text-align: end;
}

.textBold {
  font-weight: bold !important;
}

.textItalics {
  font-style: italic !important;
}

pre {
  display: inline;
}

/*------------------------------------------*/

//-----МИНИ ЛИНИЯ РАЗДЕЛИТЕЛЬ-----
.line-mini {
  position: relative;
  z-index: 21;
  @include wiHe(80%, max-content);
  margin: 15px auto;
  img {
    @include wiHe(100%, auto);
  }
}
